In [3]:
def add_Data(from_id, to_id, d_edge):
    add_data = ("INSERT INTO path_relationship"
                "(from_id, to_id, d_edge) "
                "VALUES (%s,%s,%s)")
    data = (from_id, to_id, d_edge)
    cur.execute(add_data, data)
    # cnx.commit()

In [4]:
import pymysql
import time
tStart = time.time()

cnx = pymysql.connect(
    host="localhost",
    user="root",
    passwd="12345",
    database="test"
    )

cm_cur = cnx.cursor()
cr = cnx.cursor()
cur = cnx.cursor()
ex = cnx.cursor()

cm_name = "SELECT DISTINCT name FROM comment_relationship"
cm_cur.execute(cm_name)

pair = []
tr = []
for cm in cm_cur.fetchall():
    place = []
    from_id = []
    to_id = []
    
    # 使用者
    cmfet = cm[0]
    # print(cmfet)
    
    m = "SELECT near_site, sid FROM comment_relationship WHERE name = '" + cmfet + "'"
    cr.execute(m)
    for cf in cr.fetchall():
        cfe = cf[0]
        # print(cfe)
        sid = cf[1]
        place.append(sid)
    
    if len(place)>1:
        for x in range(len(place)-1):
            from_id.append(place[x])

        for y in range(1,len(place)):
            to_id.append(place[y])

        print("==換 " + cmfet + " 囉==")
        
        for i in range(len(from_id)):
            p = []
            num = 0
            if from_id[i] != to_id[i]:
                count = 1
                p.append(from_id[i])
                p.append(to_id[i])
                p.append(count)
                if p not in pair:
                    pair.append(p)
                    add_Data(from_id[i], to_id[i], count)
                    # print(from_id[i])
                    # print(to_id[i])
                else:
                    check = "SELECT * FROM path_relationship WHERE from_id = '" + from_id[i] + "' AND to_id = '" + to_id[i] + "'"
                    cur.execute(check)
                    j = cur.fetchone()
                    fid = j[0]
                    tid = j[1]
                    c = int(j[2]) + 1
                    edge = str(c)
                    ed_degree = "UPDATE path_relationship SET d_edge = '" + edge + "' WHERE from_id = '" + fid + "' AND to_id = '" + tid + "'"
                    print(ed_degree)
                    ex.execute(ed_degree)
                    # cnx.commit()
                    
                    print(fid)
                    print(tid)
                    print(edge) #str
                    
                        # print(from_id[i])
                        # print(to_id[i])

tEnd = time.time()
print("Run Time：", tEnd - tStart)

==換 Mr.Book 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
2
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
15
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
2
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
20
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
18
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
2
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
16
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0149' AND to_id = 'R0923'
S0149
R0923
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
3
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
16
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
3
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
21
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
19
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
3
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
17
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0149' AND to_id = 'R0923'
S0149
R0923
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
4
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
17
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
4
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
22
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
20
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
4
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
18
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0149' AND to_id = 'R0923'
S0149
R0923
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
5
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
18
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
5
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
23
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
21
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
5
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
19
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0149' AND to_id = 'R0923'
S0149
R0923
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
6
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
19
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
6
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
24
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
22
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
6
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
20
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0149' AND to_id = 'R0923'
S0149
R0923
6
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
7
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
20
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
7
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
25
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
23
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
7
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
21
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4409' AND to_id = 'S2834'
R4409
S2834
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2834' AND to_id = 'H02912'
S2834
H02912
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H02912' AND to_id = 'H02821'
H02912
H02821
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H02821' AND to_id = 'H02576'
H02821
H02576
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H02576' AND to_id = 'H05048'
H02576
H05048
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H05048' AND to_id = 'H03880'
H05048
H03880
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H03880' AND to_id = 'S3189'
H03880
S3189
2
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
8
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
21
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
9

UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
8
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
26
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
24
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
8
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
22
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0149' AND to_id = 'R0923'
S0149
R0923
7
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
9
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
22
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
9
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
27
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
25
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
9
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
23
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0149' AND to_id = 'R0923'
S0149
R0923
8
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0923' AND to_id = 'R0924'
R0923
R0924
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0924' AND to_id = 'S4277'
R0924
S4277
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4277' AND to_id = 'S0099'
S4277
S0099
10
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
23
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
10
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
28
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
26
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
10
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
24
==換 程 舜 囉==
==換 愛七桃 囉==
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1204' AND to_id = 'R0148'
R1204
R0148
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0148' AND to_id = 'R0650'
R0148
R0650
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0650' AND to_id = 'R1205'
R0650
R1205
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1205' AND to_id = 'R1206'
R1205
R1206
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1206' AND to_id = 'S0253'
R1206
S0253
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0253' AND to_id = 'R1207'
S0253
R1207
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1207' AND to_id = 'R1208'
R1207
R1208
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1208' AND to_id = 'S7375'
R1208
S7375
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7375' AND to_id = 'S0141'
S7375
S0141
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0141' AND to_id = 'S0135'
S0141
S0135
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0135' AND to_id = 'S0285'
S0135
S0285
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0285' AND to_id = 'S7394'
S0285
S7394
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7394' AND to_id = 'S7412'
S7394
S7412
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7412' AND to_id = 'R1192'
S7412
R1192
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1192' AND to_id = 'R1209'
R1192
R1209
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1209' AND to_id = 'R1210'
R1209
R1210
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1210' AND to_id = 'S7287'
R1210
S7287
5
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7287' AND to_id = 'S6306'
S7287
S6306
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6306' AND to_id = 'R1211'
S6306
R1211
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1211' AND to_id = 'S4961'
R1211
S4961
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4961' AND to_id = 'R0750'
S4961
R0750
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1452' AND to_id = 'S0147'
R1452
S0147
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0147' AND to_id = 'S0221'
S0147
S0221
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0221' AND to_id = 'S0333'
S0221
S0333
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0333' AND to_id = 'R1453'
S0333
R1453
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1204' AND to_id = 'R0148'
R1204
R0148
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0148' AND to_id = 'R0650'
R0148
R0650
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0650' AND to_id = 'R1205'
R0650
R1205
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1205' AND to_id = 'R1206'
R1205
R1206
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1206' AND to_id = 'S0253'
R1206
S0253
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0253' AND to_id = 'R1207'
S0253
R1207
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1207' AND to_id = 'R1208'
R1207
R1208
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1208' AND to_id = 'S7375'
R1208
S7375
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7375' AND to_id = 'S0141'
S7375
S0141
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0141' AND to_id = 'S0135'
S0141
S0135
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0135' AND to_id = 'S0285'
S0135
S0285
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0285' AND to_id = 'S7394'
S0285
S7394
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7394' AND to_id = 'S7412'
S7394
S7412
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7412' AND to_id = 'R1192'
S7412
R1192
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1192' AND to_id = 'R1209'
R1192
R1209
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1209' AND to_id = 'R1210'
R1209
R1210
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1210' AND to_id = 'S7287'
R1210
S7287
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7287' AND to_id = 'S6306'
S7287
S6306
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6306' AND to_id = 'R1211'
S6306
R1211
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1211' AND to_id = 'S4961'
R1211
S4961
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4961' AND to_id = 'R0750'
S4961
R0750
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1884' AND to_id = 'R1529'
R1884
R1529
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1529' AND to_id = 'S0101'
R1529
S0101
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0101' AND to_id = 'H00259'
S0101
H00259
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H00259' AND to_id = 'R0932'
H00259
R0932
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0932' AND to_id = 'R1702'
R0932
R1702
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1702' AND to_id = 'R0721'
R1702
R0721
3

UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0721' AND to_id = 'S7492'
R0721
S7492
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7492' AND to_id = 'H01086'
S7492
H01086
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H01086' AND to_id = 'R0251'
H01086
R0251
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0251' AND to_id = 'R0847'
R0251
R0847
7
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0847' AND to_id = 'R2116'
R0847
R2116
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2116' AND to_id = 'S0813'
R2116
S0813
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0813' AND to_id = 'S0226'
S0813
S0226
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0226' AND to_id = 'R1132'
S0226
R1132
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1132' AND to_id = 'S4161'
R1132
S4161
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4161' AND to_id = 'S0275'
S4161
S0275
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0275' AND to_id = 'S0593'
S0275
S0593
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0593' AND to_id = 'R2117'
S0593
R2117
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2117' AND to_id = 'R2118'
R2117
R2118
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1204' AND to_id = 'R0148'
R1204
R0148
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0148' AND to_id = 'R0650'
R0148
R0650
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0650' AND to_id = 'R1205'
R0650
R1205
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1205' AND to_id = 'R1206'
R1205
R1206
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1206' AND to_id = 'S0253'
R1206
S0253
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0253' AND to_id = 'R1207'
S0253
R1207
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1207' AND to_id = 'R1208'
R1207
R1208
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1208' AND to_id = 'S7375'
R1208
S7375
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7375' AND to_id = 'S0141'
S7375
S0141
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0141' AND to_id = 'S0135'
S0141
S0135
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0135' AND to_id = 'S0285'
S0135
S0285
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0285' AND to_id = 'S7394'
S0285
S7394
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7394' AND to_id = 'S7412'
S7394
S7412
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7412' AND to_id = 'R1192'
S7412
R1192
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1192' AND to_id = 'R1209'
R1192
R1209
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1209' AND to_id = 'R1210'
R1209
R1210
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1210' AND to_id = 'S7287'
R1210
S7287
7
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7287' AND to_id = 'S6306'
S7287
S6306
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6306' AND to_id = 'R1211'
S6306
R1211
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1211' AND to_id = 'S4961'
R1211
S4961
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4961' AND to_id = 'R0750'
S4961
R0750
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1452' AND to_id = 'S0147'
R1452
S0147
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0147' AND to_id = 'S0221'
S0147
S0221
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0221' AND to_id = 'S0333'
S0221
S0333
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0333' AND to_id = 'R1453'
S0333
R1453
5
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0245' AND to_id = 'S2844'
S0245
S2844
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2844' AND to_id = 'H02584'
S2844
H02584
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H02584' AND to_id = 'S7373'
H02584
S7373
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7373' AND to_id = 'R2208'
S7373
R2208
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R2208' AND to_id = 'R2209'
R2208
R2209
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R2209' AND to_id = 'R2210'
R2209
R2210
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R2210' AND to_id = 'R1013'
R2210
R1013
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1013' AND to_id = 'R2211'
R1013
R2211
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2211' AND to_id = 'R2212'
R2211
R2212
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2212' AND to_id = 'R0125'
R2212
R0125
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0125' AND to_id = 'R2213'
R0125
R2213
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0099' AND to_id = 'S7023'
S0099
S7023
2
==換 Ming C 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1006' AND to_id = 'S0099'
S1006
S0099
4
==換 ACE 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R2231' AND to_id = 'R2232'
R2231
R2232
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R2232' AND to_id = 'R2233'
R2232
R2233
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2233' AND to_id = 'R2231'
R2233
R2231
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R2231' AND to_id = 'R2232'
R2231
R2232
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R2232' AND to_id = 'R2233'
R2232
R2233
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7542' AND to_id = 'R2888'
S7542
R2888
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R2888' AND to_id = 'R2889'
R2888
R2889
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2889' AND to_id = 'S7542'
R2889
S7542
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7542' AND to_id = 'R2888'
S7542
R2888
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R2888' AND to_id = 'R2889'
R2888
R2889
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1038' AND to_id = 'R0002'
S1038
R0002
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0002' AND to_id = 'R0003'
R0002
R0003
3
==換 江南有丹橘 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0004' AND to_id = 'R0005'
R0004
R0005
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0005' AND to_id = 'R0006'
R0005
R0006
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0006' AND to_id = 'S7269'
R0006
S7269
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7269' AND to_id = 'S4961'
S7269
S4961
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0099' AND to_id = 'S2811'
S0099
S2811
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2811' AND to_id = 'S7270'
S2811
S7270
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7270' AND to_id = 'S1006'
S7270
S1006
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1006' AND to_id = 'R0007'
S1006
R0007
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0007' AND to_id = 'R0008'
R0007
R0008
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1305' AND to_id = 'R1306'
R1305
R1306
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1306' AND to_id = 'R0565'
R1306
R0565
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0565' AND to_id = 'R1307'
R0565
R1307
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1307' AND to_id = 'R1308'
R1307
R1308
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1308' AND to_id = 'R1309'
R1308
R1309
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1309' AND to_id = 'H06633'
R1309
H06633
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0004' AND to_id = 'R0005'
R0004
R0005
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0005' AND to_id = 'R0006'
R0005
R0006
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0006' AND to_id = 'S7269'
R0006
S7269
4

UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7269' AND to_id = 'S4961'
S7269
S4961
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0099' AND to_id = 'S2811'
S0099
S2811
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2811' AND to_id = 'S7270'
S2811
S7270
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7270' AND to_id = 'S1006'
S7270
S1006
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1006' AND to_id = 'R0007'
S1006
R0007
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0007' AND to_id = 'R0008'
R0007
R0008
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0008' AND to_id = 'R0009'
R0008
R0009
2
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0004' AND to_id = 'R0005'
R0004
R0005
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0005' AND to_id = 'R0006'
R0005
R0006
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0006' AND to_id = 'S7269'
R0006
S7269
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7269' AND to_id = 'S4961'
S7269
S4961
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0099' AND to_id = 'S2811'
S0099
S2811
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2811' AND to_id = 'S7270'
S2811
S7270
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7270' AND to_id = 'S1006'
S7270
S1006
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1006' AND to_id = 'R0007'
S1006
R0007
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0007' AND to_id = 'R0008'
R0007
R0008
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0008' AND to_id = 'R0009'
R0008
R0009
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4142' AND to_id = 'S7554'
S4142
S7554
4
==換 ShinRongWang 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0841' AND to_id = 'S0952'
S0841
S0952
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0952' AND to_id = 'S2117'
S0952
S2117
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2117' AND to_id = 'S0841'
S2117
S0841
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0841' AND to_id = 'S0952'
S0841
S0952
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0952' AND to_id = 'S2117'
S0952
S2117
5
==換 Meowmeow1211 囉==
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
11
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
29
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
27
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
11
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
25
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
12
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
30
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
28
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
12
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
26
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0149' AND to_id = 'S5794'
S0149
S5794
7
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
13
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
31
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
29
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
13
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
27
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0149' AND to_id = 'S5794'
S0149
S5794
8
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
14
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
32
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
30
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
14
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
28
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2844' AND to_id = 'S0099'
S2844
S0099
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0099' AND to_id = 'S5221'
S0099
S5221
2
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
16
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
15
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
33
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
31
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
16
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6306' AND to_id = 'S0274'
S6306
S0274
15
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S0274' AND to_id = 'S0149'
S0274
S0149
29
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4961' AND to_id = 'S4277'
S4961
S4277
7
==換 BL2047 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0149' AND to_id = 'S4961'
S0149
S4961
2
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
17
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0149' AND to_id = 'S4961'
S0149
S4961
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4961' AND to_id = 'S0274'
S4961
S0274
2
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0274' AND to_id = 'S0145'
S0274
S0145
28
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
18
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6306' AND to_id = 'S0813'
S6306
S0813
2
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0813' AND to_id = 'S0149'
S0813
S0149
10
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0149' AND to_id = 'S4961'
S0149
S4961
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4961' AND to_id = 'S0274'
S4961
S0274
3
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S0274' AND to_id = 'S0145'
S0274
S0145
29
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0145' AND to_id = 'S6306'
S0145
S6306
19
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6306' AND to_id = 'S0813'
S6306
S0813
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
3

UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4277' AND to_id = 'S1006'
S4277
S1006
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4277' AND to_id = 'S1006'
S4277
S1006
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
6
==換 Brilly L 囉==
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
8
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
13
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
5
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
9
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
14
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
6
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
10
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
15
==換 Wang R 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0012' AND to_id = 'S0145'
R0012
S0145
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0145' AND to_id = 'S0099'
S0145
S0099
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0099' AND to_id = 'S6306'
S0099
S6306
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6306' AND to_id = 'R0013'
S6306
R0013
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0013' AND to_id = 'R0014'
R0013
R0014
3
==換 C.Y.C. 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S5221' AND to_id = 'S4961'
S5221
S4961
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0187' AND to_id = 'R0808'
R0187
R0808
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0808' AND to_id = 'R0809'
R0808
R0809
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0809' AND to_id = 'R0810'
R0809
R0810
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0810' AND to_id = 'R0811'
R0810
R0811
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0811' AND to_id = 'R0812'
R0811
R0812
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0812' AND to_id = 'R0038'
R0812
R0038
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0038' AND to_id = 'R0448'
R0038
R0448
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0448' AND to_id = 'R0565'
R0448
R0565
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0565' AND to_id = 'R0797'
R0565
R0797
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0797' AND to_id = 'R0813'
R0797
R0813
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0813' AND to_id = 'R0269'
R0813
R0269
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0269' AND to_id = 'R0814'
R0269
R0814
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0814' AND to_id = 'R0815'
R0814
R0815
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0815' AND to_id = 'R0816'
R0815
R0816
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0816' AND to_id = 'R0817'
R0816
R0817
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0817' AND to_id = 'R0818'
R0817
R0818
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0818' AND to_id = 'R0819'
R0818
R0819
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0819' AND to_id = 'R0820'
R0819
R0820
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0820' AND to_id = 'R0010'
R0820
R0010
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0010' AND to_id = 'R0821'
R0010
R0821
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0821' AND to_id = 'R0034'
R0821
R0034
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0034' AND to_id = 'R0822'
R0034
R0822
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0822' AND to_id = 'R0823'
R0822
R0823
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0823' AND to_id = 'R0824'
R0823
R0824
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0824' AND to_id = 'R0825'
R0824
R0825
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0825' AND to_id = 'R0826'
R0825
R0826
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5221' AND to_id = 'S4961'
S5221
S4961
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4961' AND to_id = 'S5794'
S4961
S5794
2
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5221' AND to_id = 'S4961'
S5221
S4961
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4961' AND to_id = 'S5794'
S4961
S5794
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5221' AND to_id = 'S4961'
S5221
S4961
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4961' AND to_id = 'S5794'
S4961
S5794
4
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
17
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7023' AND to_id = 'R0578'
S7023
R0578
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0578' AND to_id = 'S2799'
R0578
S2799
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2799' AND to_id = 'R4221'
S2799
R4221
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R4221' AND to_id = 'R0859'
R4221
R0859
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0859' AND to_id = 'R0860'
R0859
R0860
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0860' AND to_id = 'S1006'
R0860
S1006
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S1006' AND to_id = 'S4277'

S1006
S4277
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4277' AND to_id = 'R4611'
S4277
R4611
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R4611' AND to_id = 'R1967'
R4611
R1967
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1967' AND to_id = 'R4612'
R1967
R4612
2
==換 ASA L 囉==
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
28
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
6
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
8
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
6
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
11
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
16
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
2
UPDATE path_relationship SET d_edge = '39' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
39
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
29
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
9
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
7
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0099' AND to_id = 'S0106'
S0099
S0106
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0106' AND to_id = 'S2844'
S0106
S2844
2
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
12
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
17
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
3
UPDATE path_relationship SET d_edge = '40' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
40
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
30
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
10
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
8
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0099' AND to_id = 'S0106'
S0099
S0106
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0106' AND to_id = 'S2844'
S0106
S2844
3
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
13
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
18
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4961' AND to_id = 'S6306'
S4961
S6306
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
4
UPDATE path_relationship SET d_edge = '41' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
41
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
31
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
11
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
9
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0099' AND to_id = 'S0106'
S0099
S0106
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0106' AND to_id = 'S2844'
S0106
S2844
4
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
14
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
19
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4961' AND to_id = 'S6306'
S4961
S6306
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
5
UPDATE path_relationship SET d_edge = '42' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
42
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
32
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
10
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0099' AND to_id = 'S0106'
S0099
S0106
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0106' AND to_id = 'S2844'
S0106
S2844
5
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
15
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
20
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4961' AND to_id = 'S6306'
S4961
S6306
8
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
6
UPDATE path_relationship SET d_edge = '43' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
43
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
33
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
11
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
13
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
11
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0099' AND to_id = 'S0106'
S0099
S0106
8
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0106' AND to_id = 'S2844'
S0106
S2844
6
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
16
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
21
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4961' AND to_id = 'S6306'
S4961
S6306
9
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
7
UPDATE path_relationship SET d_edge = '44' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
44
UPDATE path_relationship SET d_edge = '34' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
34
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
12
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
14
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
12
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0099' AND to_id = 'S0106'
S0099
S0106
9
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0106' AND to_id = 'S2844'
S0106
S2844
7
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
17
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
22
==換 ViewRight 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2844' AND to_id = 'S0099'
S2844

S0099
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S5221' AND to_id = 'S0813'
S5221
S0813
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0813' AND to_id = 'S5221'
S0813
S5221
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5221' AND to_id = 'S0813'
S5221
S0813
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0813' AND to_id = 'S7023'
S0813
S7023
2
==換 faifai18 囉==
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
26
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
2
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
8
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
27
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
3
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
9
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0145' AND to_id = 'S0149'
S0145
S0149
12
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
28
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
4
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
10
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0145' AND to_id = 'S0149'
S0145
S0149
13
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
29
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
5
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
11
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0145' AND to_id = 'S0149'
S0145
S0149
14
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
30
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
6
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
12
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0145' AND to_id = 'S0149'
S0145
S0149
15
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
31
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
7
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
13
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0145' AND to_id = 'S0149'
S0145
S0149
16
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
32
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
8
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
14
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0145' AND to_id = 'S0149'
S0145
S0149
17
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
33
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
9
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
15
==換 Billbill08 囉==
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S5794' AND to_id = 'S0099'
S5794
S0099
19
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
10
==換 拉拉 摳 囉==
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
11
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
18
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
23
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4961' AND to_id = 'S6306'
S4961
S6306
10
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
16
UPDATE path_relationship SET d_edge = '45' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
45
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
12
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
19
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
24
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
13
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
20
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
25
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
7
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
14
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
21
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
26
==換 chung w 囉==
UPDATE path_relationship SET d_edge = '34' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
34
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
11
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
17
UPDATE path_relationship SET d_edge = '46' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
46
UPDATE path_relationship SET d_edge = '35' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
35
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
13
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
15
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
13
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
15
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
22
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
27
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4961' AND to_id = 'S0149'
S4961
S0149
2
UPDATE path_relationship SET d_edge = '35' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
35
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
12
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
18
UPDATE path_relationship SET d_edge = '47' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
47
UPDATE path_relationship SET d_edge = '36' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
36
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
14
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
16
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
14
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
16
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
23
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
28
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4961' AND to_id = 'S0149'
S4961
S0149
3
UPDATE path_relationship SET d_edge = '36' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
36
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
13
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
19
UPDATE path_relationship SET d_edge = '48' WHERE from_id = 'S0145' AND to_id = 'S0813'

S0145
S0813
48
UPDATE path_relationship SET d_edge = '37' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
37
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
15
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
17
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
15
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
17
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
24
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
29
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4961' AND to_id = 'S0149'
S4961
S0149
4
UPDATE path_relationship SET d_edge = '37' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
37
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
14
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
20
UPDATE path_relationship SET d_edge = '49' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
49
UPDATE path_relationship SET d_edge = '38' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
38
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
16
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
18
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
16
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
18
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
25
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
30
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4961' AND to_id = 'S0149'
S4961
S0149
5
UPDATE path_relationship SET d_edge = '38' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
38
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
15
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
21
UPDATE path_relationship SET d_edge = '50' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
50
UPDATE path_relationship SET d_edge = '39' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
39
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
17
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
19
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
17
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
19
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
26
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
31
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4961' AND to_id = 'S0149'
S4961
S0149
6
UPDATE path_relationship SET d_edge = '39' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
39
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
16
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
22
UPDATE path_relationship SET d_edge = '51' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
51
UPDATE path_relationship SET d_edge = '40' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
40
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
18
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
20
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
18
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
20
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
27
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
32
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4961' AND to_id = 'S0149'
S4961
S0149
7
UPDATE path_relationship SET d_edge = '40' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
40
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
17
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
23
UPDATE path_relationship SET d_edge = '52' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
52
UPDATE path_relationship SET d_edge = '41' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
41
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
19
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
21
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
19
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
21
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
28
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
33
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4961' AND to_id = 'S0149'
S4961
S0149
8
UPDATE path_relationship SET d_edge = '41' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
41
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
18
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
24
UPDATE path_relationship SET d_edge = '53' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
53
UPDATE path_relationship SET d_edge = '42' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
42
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
20
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
22
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S5221' AND to_id = 'S0099'
S5221
S0099
20
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0099' AND to_id = 'S2844'
S0099
S2844
22
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
29
UPDATE path_relationship SET d_edge = '34' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
34
==換 Sandy L 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4961' AND to_id = 'S0274'
S4961
S0274
4
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
24
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0813' AND to_id = 'S0149'
S0813
S0149
11
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0149' AND to_id = 'S2844'
S0149
S2844
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0145' AND to_id = 'S7023'
S0145
S7023
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7023' AND to_id = 'S0813'
S7023
S0813
2
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0813' AND to_id = 'S0149'
S0813
S0149
12
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0149' AND to_id = 'S2844'
S0149
S2844
4

UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0145' AND to_id = 'S7023'
S0145
S7023
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7023' AND to_id = 'S0813'
S7023
S0813
3
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0813' AND to_id = 'S0149'
S0813
S0149
13
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0149' AND to_id = 'S2844'
S0149
S2844
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2844' AND to_id = 'S5221'
S2844
S5221
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5221' AND to_id = 'S4961'
S5221
S4961
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4961' AND to_id = 'S0274'
S4961
S0274
5
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0274' AND to_id = 'S0099'
S0274
S0099
10
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S0099' AND to_id = 'S5794'
S0099
S5794
25
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5794' AND to_id = 'S0145'
S5794
S0145
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0145' AND to_id = 'S7023'
S0145
S7023
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7023' AND to_id = 'S0813'
S7023
S0813
4
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0813' AND to_id = 'S0149'
S0813
S0149
14
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0149' AND to_id = 'S2844'
S0149
S2844
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2844' AND to_id = 'S5221'
S2844
S5221
5
==換 fantasr 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0099' AND to_id = 'S0274'
S0099
S0274
4
==換 PETER 囉==
UPDATE path_relationship SET d_edge = '42' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
42
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
19
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
25
UPDATE path_relationship SET d_edge = '54' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
54
UPDATE path_relationship SET d_edge = '43' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
43
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
21
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
21
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
23
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
30
UPDATE path_relationship SET d_edge = '35' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
35
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
8
UPDATE path_relationship SET d_edge = '43' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
43
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
20
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
26
UPDATE path_relationship SET d_edge = '55' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
55
UPDATE path_relationship SET d_edge = '44' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
44
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
22
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
22
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
24
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S5221' AND to_id = 'S2844'
S5221
S2844
2
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
31
UPDATE path_relationship SET d_edge = '36' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
36
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
9
UPDATE path_relationship SET d_edge = '44' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
44
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
21
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
27
UPDATE path_relationship SET d_edge = '56' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
56
UPDATE path_relationship SET d_edge = '45' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
45
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
23
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
23
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
25
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5221' AND to_id = 'S2844'
S5221
S2844
3
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
32
UPDATE path_relationship SET d_edge = '37' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
37
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0099' AND to_id = 'S0149'
S0099
S0149
11
UPDATE path_relationship SET d_edge = '45' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
45
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
22
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
28
UPDATE path_relationship SET d_edge = '57' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
57
UPDATE path_relationship SET d_edge = '46' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
46
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
24
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
24
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
26
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5221' AND to_id = 'S2844'
S5221
S2844
4
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
33
UPDATE path_relationship SET d_edge = '38' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
38
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
11
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0099' AND to_id = 'S0149'
S0099
S0149
12
UPDATE path_relationship SET d_edge = '46' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
46
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
23
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
29
UPDATE path_relationship SET d_edge = '58' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
58
UPDATE path_relationship SET d_edge = '47' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
47
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
25
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
25
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
27
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5221' AND to_id = 'S2844'
S5221
S2844
5
UPDATE path_relationship SET d_edge = '34' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
34
UPDATE path_relationship SET d_edge = '39' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
39
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
12
UPDATE path_relationship SET d_edge = '47' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
47
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
24
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
30
UPDATE path_relationship SET d_edge = '59' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
59
UPDATE path_relationship SET d_edge = '48' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
48

UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S1006' AND to_id = 'S7023'
S1006
S7023
26
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S7023' AND to_id = 'S5794'
S7023
S5794
26
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S5794' AND to_id = 'S5221'
S5794
S5221
28
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5221' AND to_id = 'S2844'
S5221
S2844
6
UPDATE path_relationship SET d_edge = '35' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
35
UPDATE path_relationship SET d_edge = '40' WHERE from_id = 'S4277' AND to_id = 'S4961'
S4277
S4961
40
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
13
==換 洪萍萍 囉==
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
25
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5794' AND to_id = 'S0145'
S5794
S0145
7
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
14
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
26
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6306' AND to_id = 'S5794'
S6306
S5794
2
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5794' AND to_id = 'S0145'
S5794
S0145
8
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0145' AND to_id = 'S4277'
S0145
S4277
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4277' AND to_id = 'S7271'
S4277
S7271
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7271' AND to_id = 'R0015'
S7271
R0015
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0015' AND to_id = 'S5221'
R0015
S5221
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S5221' AND to_id = 'S0149'
S5221
S0149
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0149' AND to_id = 'S7023'
S0149
S7023
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7023' AND to_id = 'S2844'
S7023
S2844
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2844' AND to_id = 'S0813'
S2844
S0813
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0813' AND to_id = 'S4961'
S0813
S4961
2
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
15
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0099' AND to_id = 'S1006'
S0099
S1006
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S1006' AND to_id = 'S0274'
S1006
S0274
2
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
27
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6306' AND to_id = 'S5794'
S6306
S5794
3
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5794' AND to_id = 'S0145'
S5794
S0145
9
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0145' AND to_id = 'S4277'
S0145
S4277
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4277' AND to_id = 'S7271'
S4277
S7271
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7271' AND to_id = 'R0015'
S7271
R0015
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0015' AND to_id = 'S5221'
R0015
S5221
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5221' AND to_id = 'S0149'
S5221
S0149
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0149' AND to_id = 'S7023'
S0149
S7023
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7023' AND to_id = 'S2844'
S7023
S2844
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2844' AND to_id = 'S0813'
S2844
S0813
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0813' AND to_id = 'S4961'
S0813
S4961
3
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
16
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0099' AND to_id = 'S1006'
S0099
S1006
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1006' AND to_id = 'S0274'
S1006
S0274
3
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
28
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6306' AND to_id = 'S5794'
S6306
S5794
4
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S5794' AND to_id = 'S0145'
S5794
S0145
10
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0145' AND to_id = 'S4277'
S0145
S4277
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4277' AND to_id = 'S7271'
S4277
S7271
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7271' AND to_id = 'R0015'
S7271
R0015
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0015' AND to_id = 'S5221'
R0015
S5221
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5221' AND to_id = 'S0149'
S5221
S0149
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0149' AND to_id = 'S7023'
S0149
S7023
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7023' AND to_id = 'S2844'
S7023
S2844
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2844' AND to_id = 'S0813'
S2844
S0813
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0813' AND to_id = 'S4961'
S0813
S4961
4
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
17
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0099' AND to_id = 'S1006'
S0099
S1006
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1006' AND to_id = 'S0274'
S1006
S0274
4
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
29
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6306' AND to_id = 'S5794'
S6306
S5794
5
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S5794' AND to_id = 'S0145'
S5794
S0145
11
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0145' AND to_id = 'S4277'
S0145
S4277
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4277' AND to_id = 'S7271'
S4277
S7271
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7271' AND to_id = 'R0015'
S7271
R0015
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0015' AND to_id = 'S5221'
R0015
S5221
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5221' AND to_id = 'S0149'
S5221
S0149
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0149' AND to_id = 'S7023'
S0149
S7023
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7023' AND to_id = 'S2844'
S7023
S2844
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2844' AND to_id = 'S0813'
S2844
S0813
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0813' AND to_id = 'S4961'
S0813
S4961
5
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S4961' AND to_id = 'S0099'
S4961
S0099
18
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0099' AND to_id = 'S1006'
S0099
S1006
7
==換 Kin Chung L 囉==
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S5794' AND to_id = 'S0099'
S5794
S0099
20
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0099' AND to_id = 'S5221'
S0099
S5221
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5221' AND to_id = 'S4961'
S5221
S4961
7
UPDATE path_relationship SET d_edge = '36' WHERE from_id = 'S2844' AND to_id = 'S4277'
S2844
S4277
36
==換 Futehsu 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7023' AND to_id = 'S0099'
S7023
S0099
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0099' AND to_id = 'S7272'
S0099
S7272
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5794' AND to_id = 'S5773'
S5794
S5773
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2844' AND to_id = 'S4961'
S2844
S4961
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4961' AND to_id = 'S4564'
S4961
S4564
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4564' AND to_id = 'S4277'
S4564
S4277
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4277' AND to_id = 'S7462'
S4277
S7462
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7462' AND to_id = 'R0235'
S7462
R0235
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0235' AND to_id = 'H03054'
R0235
H03054
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H03054' AND to_id = 'H02584'

H03054
H02584
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H02584' AND to_id = 'H05493'
H02584
H05493
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H05493' AND to_id = 'R2305'
H05493
R2305
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R2305' AND to_id = 'S2844'
R2305
S2844
2
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2844' AND to_id = 'S4961'
S2844
S4961
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4961' AND to_id = 'S4564'
S4961
S4564
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4564' AND to_id = 'S4277'
S4564
S4277
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4277' AND to_id = 'S7462'
S4277
S7462
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7462' AND to_id = 'R0235'
S7462
R0235
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0235' AND to_id = 'H03054'
R0235
H03054
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H03054' AND to_id = 'H02584'
H03054
H02584
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H02584' AND to_id = 'H05493'
H02584
H05493
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H05493' AND to_id = 'R2305'
H05493
R2305
3
==換 tangs0078 囉==
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0274' AND to_id = 'S0099'
S0274
S0099
11
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0099' AND to_id = 'R0010'
S0099
R0010
4
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0274' AND to_id = 'S0099'
S0274
S0099
12
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0099' AND to_id = 'R0010'
S0099
R0010
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0010' AND to_id = 'H00043'
R0010
H00043
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H00043' AND to_id = 'H00062'
H00043
H00062
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H00062' AND to_id = 'R0035'
H00062
R0035
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0035' AND to_id = 'R0037'
R0035
R0037
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0037' AND to_id = 'H00177'
R0037
H00177
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H00177' AND to_id = 'R0343'
H00177
R0343
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0343' AND to_id = 'R2207'
R0343
R2207
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2207' AND to_id = 'R0475'
R2207
R0475
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0475' AND to_id = 'H15118'
R0475
H15118
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H15118' AND to_id = 'S0101'
H15118
S0101
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0101' AND to_id = 'R2073'
S0101
R2073
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2073' AND to_id = 'S0630'
R2073
S0630
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0630' AND to_id = 'S0417'
S0630
S0417
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0417' AND to_id = 'S0287'
S0417
S0287
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0287' AND to_id = 'S0245'
S0287
S0245
3
==換 Morrix 囉==
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
30
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4961' AND to_id = 'S4277'
S4961
S4277
8
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2844' AND to_id = 'S0099'
S2844
S0099
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0099' AND to_id = 'S5221'
S0099
S5221
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S5221' AND to_id = 'S5794'
S5221
S5794
2
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
18
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
16
UPDATE path_relationship SET d_edge = '34' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
34
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
32
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0145' AND to_id = 'S0274'
S0145
S0274
15
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
31
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6306' AND to_id = 'S4961'
S6306
S4961
2
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4961' AND to_id = 'S4277'
S4961
S4277
9
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4277' AND to_id = 'S2844'
S4277
S2844
2
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2844' AND to_id = 'S0099'
S2844
S0099
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0099' AND to_id = 'S5221'
S0099
S5221
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5221' AND to_id = 'S5794'
S5221
S5794
3
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
19
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
17
UPDATE path_relationship SET d_edge = '35' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
35
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S0813' AND to_id = 'S0145'
S0813
S0145
33
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0145' AND to_id = 'S0274'
S0145
S0274
16
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
32
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6306' AND to_id = 'S4961'
S6306
S4961
3
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4961' AND to_id = 'S4277'
S4961
S4277
10
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4277' AND to_id = 'S2844'
S4277
S2844
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2844' AND to_id = 'S0099'
S2844
S0099
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0099' AND to_id = 'S5221'
S0099
S5221
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5221' AND to_id = 'S5794'
S5221
S5794
4
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S5794' AND to_id = 'S7023'
S5794
S7023
20
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S7023' AND to_id = 'S1006'
S7023
S1006
18
UPDATE path_relationship SET d_edge = '36' WHERE from_id = 'S1006' AND to_id = 'S0813'
S1006
S0813
36
==換 118yuwenc 囉==
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0099' AND to_id = 'S0149'
S0099
S0149
13
UPDATE path_relationship SET d_edge = '48' WHERE from_id = 'S0149' AND to_id = 'S0274'
S0149
S0274
48
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
33
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
31
UPDATE path_relationship SET d_edge = '60' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
60
UPDATE path_relationship SET d_edge = '49' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
49
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4961' AND to_id = 'S2844'
S4961
S2844
2
UPDATE path_relationship SET d_edge = '34' WHERE from_id = 'S0274' AND to_id = 'S6306'
S0274
S6306
34
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S6306' AND to_id = 'S0145'
S6306
S0145
32
UPDATE path_relationship SET d_edge = '61' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
61
UPDATE path_relationship SET d_edge = '50' WHERE from_id = 'S0813' AND to_id = 'S1006'
S0813
S1006
50
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S1006' AND to_id = 'S4961'
S1006
S4961
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4961' AND to_id = 'S2844'
S4961
S2844
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2844' AND to_id = 'S5794'
S2844
S5794
2
==換 雪芳 林 囉==
UPDATE path_relationship SET d_edge = '62' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
62
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0274' AND to_id = 'S0099'
S0274
S0099
13
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0099' AND to_id = 'S0149'
S0099
S0149
14
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0149' AND to_id = 'S0145'
S0149
S0145
16
UPDATE path_relationship SET d_edge = '63' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
63
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0813' AND to_id = 'S0274'
S0813
S0274
8
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0274' AND to_id = 'S0099'

S0274
S0099
14
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0099' AND to_id = 'S0149'
S0099
S0149
15
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0149' AND to_id = 'S0145'
S0149
S0145
17
UPDATE path_relationship SET d_edge = '64' WHERE from_id = 'S0145' AND to_id = 'S0813'
S0145
S0813
64
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0813' AND to_id = 'S0274'
S0813
S0274
9
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0274' AND to_id = 'S0099'
S0274
S0099
15
==換 無敵小白 囉==
==換 bpolar 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7273' AND to_id = 'S0135'
S7273
S0135
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0135' AND to_id = 'S0100'
S0135
S0100
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0100' AND to_id = 'H15079'
S0100
H15079
3
==換 李克達 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5231' AND to_id = 'S5498'
S5231
S5498
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5498' AND to_id = 'H09996'
S5498
H09996
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H09996' AND to_id = 'R0019'
H09996
R0019
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0019' AND to_id = 'S0109'
R0019
S0109
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0109' AND to_id = 'S0207'
S0109
S0207
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0207' AND to_id = 'S7274'
S0207
S7274
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7274' AND to_id = 'S0100'
S7274
S0100
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0100' AND to_id = 'R0020'
S0100
R0020
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0020' AND to_id = 'S0437'
R0020
S0437
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0437' AND to_id = 'H00102'
S0437
H00102
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H00102' AND to_id = 'S5231'
H00102
S5231
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5231' AND to_id = 'S5498'
S5231
S5498
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5498' AND to_id = 'H09996'
S5498
H09996
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H09996' AND to_id = 'R0019'
H09996
R0019
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0019' AND to_id = 'S0109'
R0019
S0109
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0109' AND to_id = 'S0207'
S0109
S0207
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0207' AND to_id = 'S7274'
S0207
S7274
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7274' AND to_id = 'S0100'
S7274
S0100
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0100' AND to_id = 'R0020'
S0100
R0020
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0020' AND to_id = 'S0437'
R0020
S0437
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0437' AND to_id = 'H00102'
S0437
H00102
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H00102' AND to_id = 'S5231'
H00102
S5231
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5231' AND to_id = 'S5498'
S5231
S5498
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5498' AND to_id = 'H09996'
S5498
H09996
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H09996' AND to_id = 'R0019'
H09996
R0019
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0019' AND to_id = 'S0109'
R0019
S0109
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0109' AND to_id = 'S0207'
S0109
S0207
6
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0207' AND to_id = 'S7274'
S0207
S7274
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7274' AND to_id = 'S0100'
S7274
S0100
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0100' AND to_id = 'R0020'
S0100
R0020
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0020' AND to_id = 'S0437'
R0020
S0437
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0437' AND to_id = 'H00102'
S0437
H00102
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H00102' AND to_id = 'S5231'
H00102
S5231
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5231' AND to_id = 'S5498'
S5231
S5498
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5498' AND to_id = 'H09996'
S5498
H09996
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H09996' AND to_id = 'R0019'
H09996
R0019
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0019' AND to_id = 'S0109'
R0019
S0109
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0109' AND to_id = 'S0207'
S0109
S0207
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0207' AND to_id = 'S7274'
S0207
S7274
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7274' AND to_id = 'S0100'
S7274
S0100
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0100' AND to_id = 'R0020'
S0100
R0020
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0020' AND to_id = 'S0437'
R0020
S0437
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0437' AND to_id = 'H00102'
S0437
H00102
7
==換 Friendychan 2018?✈️? 囉==
==換 Carol 囉==
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0188' AND to_id = 'R0429'
S0188
R0429
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0429' AND to_id = 'S0180'
R0429
S0180
5
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0180' AND to_id = 'S0191'
S0180
S0191
9
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0191' AND to_id = 'R0430'
S0191
R0430
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0430' AND to_id = 'R0431'
R0430
R0431
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0431' AND to_id = 'R0382'
R0431
R0382
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0382' AND to_id = 'R0432'
R0382
R0432
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0432' AND to_id = 'R0433'
R0432
R0433
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0433' AND to_id = 'S0118'
R0433
S0118
5
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0118' AND to_id = 'S0104'
S0118
S0104
14
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0104' AND to_id = 'R0434'
S0104
R0434
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0434' AND to_id = 'S0112'
R0434
S0112
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0112' AND to_id = 'R0435'
S0112
R0435
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0435' AND to_id = 'R0436'
R0435
R0436
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0436' AND to_id = 'R0249'
R0436
R0249
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0504' AND to_id = 'R1464'
R0504
R1464
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1464' AND to_id = 'R1465'
R1464
R1465
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1465' AND to_id = 'R1466'
R1465
R1466
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1466' AND to_id = 'R0254'
R1466
R0254
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0254' AND to_id = 'R1467'
R0254
R1467
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1467' AND to_id = 'R1468'
R1467
R1468
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1468' AND to_id = 'R1469'
R1468
R1469
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1469' AND to_id = 'R1470'
R1469
R1470
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1470' AND to_id = 'R1471'
R1470
R1471
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1471' AND to_id = 'R1472'
R1471
R1472
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1472' AND to_id = 'R1473'
R1472
R1473
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1473' AND to_id = 'R1474'
R1473
R1474
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1474' AND to_id = 'R1475'
R1474
R1475
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1475' AND to_id = 'R0966'
R1475
R0966
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0966' AND to_id = 'R1476'
R0966
R1476
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1476' AND to_id = 'R0038'
R1476
R0038
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0038' AND to_id = 'R1233'

R0038
R1233
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1233' AND to_id = 'R1477'
R1233
R1477
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1477' AND to_id = 'R1478'
R1477
R1478
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1478' AND to_id = 'R0482'
R1478
R0482
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0482' AND to_id = 'R0068'
R0482
R0068
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0068' AND to_id = 'S0148'
R0068
S0148
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0148' AND to_id = 'S7281'
S0148
S7281
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7281' AND to_id = 'S0150'
S7281
S0150
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0188' AND to_id = 'R0429'
S0188
R0429
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0429' AND to_id = 'S0180'
R0429
S0180
6
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0180' AND to_id = 'S0191'
S0180
S0191
10
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0191' AND to_id = 'R0430'
S0191
R0430
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0430' AND to_id = 'R0431'
R0430
R0431
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0431' AND to_id = 'R0382'
R0431
R0382
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0382' AND to_id = 'R0432'
R0382
R0432
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0432' AND to_id = 'R0433'
R0432
R0433
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0433' AND to_id = 'S0118'
R0433
S0118
6
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0118' AND to_id = 'S0104'
S0118
S0104
15
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0104' AND to_id = 'R0434'
S0104
R0434
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0434' AND to_id = 'S0112'
R0434
S0112
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0112' AND to_id = 'R0435'
S0112
R0435
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0435' AND to_id = 'R0436'
R0435
R0436
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0436' AND to_id = 'R0249'
R0436
R0249
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0249' AND to_id = 'S0188'
R0249
S0188
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0188' AND to_id = 'R0429'
S0188
R0429
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0429' AND to_id = 'S0180'
R0429
S0180
7
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0180' AND to_id = 'S0191'
S0180
S0191
11
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0191' AND to_id = 'R0430'
S0191
R0430
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0430' AND to_id = 'R0431'
R0430
R0431
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0431' AND to_id = 'R0382'
R0431
R0382
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0382' AND to_id = 'R0432'
R0382
R0432
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0432' AND to_id = 'R0433'
R0432
R0433
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0433' AND to_id = 'S0118'
R0433
S0118
7
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0118' AND to_id = 'S0104'
S0118
S0104
16
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0104' AND to_id = 'R0434'
S0104
R0434
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0434' AND to_id = 'S0112'
R0434
S0112
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0112' AND to_id = 'R0435'
S0112
R0435
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0435' AND to_id = 'R0436'
R0435
R0436
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0436' AND to_id = 'R0249'
R0436
R0249
7
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0249' AND to_id = 'S7274'
R0249
S7274
3
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7274' AND to_id = 'S0720'
S7274
S0720
11
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0720' AND to_id = 'R0870'
S0720
R0870
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0870' AND to_id = 'R0209'
R0870
R0209
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0209' AND to_id = 'R0871'
R0209
R0871
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0871' AND to_id = 'R0872'
R0871
R0872
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0872' AND to_id = 'R0873'
R0872
R0873
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0873' AND to_id = 'R0874'
R0873
R0874
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0874' AND to_id = 'R0473'
R0874
R0473
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0473' AND to_id = 'S0329'
R0473
S0329
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0329' AND to_id = 'R0470'
S0329
R0470
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0470' AND to_id = 'R0875'
R0470
R0875
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0875' AND to_id = 'S0275'
R0875
S0275
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0275' AND to_id = 'S7280'
S0275
S7280
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7280' AND to_id = 'S0375'
S7280
S0375
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0375' AND to_id = 'R0876'
S0375
R0876
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0876' AND to_id = 'R0229'
R0876
R0229
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0229' AND to_id = 'R0877'
R0229
R0877
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0877' AND to_id = 'R0878'
R0877
R0878
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0878' AND to_id = 'H00027'
R0878
H00027
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H00027' AND to_id = 'R0879'
H00027
R0879
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0879' AND to_id = 'R0880'
R0879
R0880
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0880' AND to_id = 'R0881'
R0880
R0881
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0881' AND to_id = 'R0588'
R0881
R0588
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0588' AND to_id = 'S0402'
R0588
S0402
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0402' AND to_id = 'S0267'
S0402
S0267
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0267' AND to_id = 'S0207'
S0267
S0207
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0207' AND to_id = 'S0123'
S0207
S0123
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0123' AND to_id = 'R0882'
S0123
R0882
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0882' AND to_id = 'S0113'
R0882
S0113
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0113' AND to_id = 'H00163'
S0113
H00163
4
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7274' AND to_id = 'S0720'
S7274
S0720
12
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0720' AND to_id = 'R0870'
S0720
R0870
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0870' AND to_id = 'R0209'
R0870
R0209
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0209' AND to_id = 'R0871'
R0209
R0871
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0871' AND to_id = 'R0872'
R0871
R0872
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0872' AND to_id = 'R0873'
R0872
R0873
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0873' AND to_id = 'R0874'
R0873
R0874
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0874' AND to_id = 'R0473'
R0874
R0473
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0473' AND to_id = 'S0329'
R0473
S0329
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0329' AND to_id = 'R0470'
S0329
R0470
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0470' AND to_id = 'R0875'
R0470
R0875
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0875' AND to_id = 'S0275'
R0875
S0275
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0275' AND to_id = 'S7280'
S0275
S7280
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7280' AND to_id = 'S0375'

S7280
S0375
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0375' AND to_id = 'R0876'
S0375
R0876
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0876' AND to_id = 'R0229'
R0876
R0229
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0229' AND to_id = 'R0877'
R0229
R0877
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0877' AND to_id = 'R0878'
R0877
R0878
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0878' AND to_id = 'H00027'
R0878
H00027
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H00027' AND to_id = 'R0879'
H00027
R0879
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0879' AND to_id = 'R0880'
R0879
R0880
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0880' AND to_id = 'R0881'
R0880
R0881
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0881' AND to_id = 'R0588'
R0881
R0588
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0588' AND to_id = 'S0402'
R0588
S0402
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0402' AND to_id = 'S0267'
S0402
S0267
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0267' AND to_id = 'S0207'
S0267
S0207
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0207' AND to_id = 'S0123'
S0207
S0123
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0123' AND to_id = 'R0882'
S0123
R0882
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0882' AND to_id = 'S0113'
R0882
S0113
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0113' AND to_id = 'H00163'
S0113
H00163
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6057' AND to_id = 'S6026'
S6057
S6026
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6026' AND to_id = 'S6015'
S6026
S6015
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6015' AND to_id = 'S6024'
S6015
S6024
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6024' AND to_id = 'R5889'
S6024
R5889
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R5889' AND to_id = 'R5890'
R5889
R5890
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R5890' AND to_id = 'S6077'
R5890
S6077
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6077' AND to_id = 'S6021'
S6077
S6021
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6021' AND to_id = 'S6014'
S6021
S6014
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6014' AND to_id = 'R5891'
S6014
R5891
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R5891' AND to_id = 'R5892'
R5891
R5892
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R5892' AND to_id = 'R3002'
R5892
R3002
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R3002' AND to_id = 'R5878'
R3002
R5878
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R5878' AND to_id = 'S6069'
R5878
S6069
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6069' AND to_id = 'S6007'
S6069
S6007
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6007' AND to_id = 'S6018'
S6007
S6018
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6018' AND to_id = 'S6004'
S6018
S6004
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6004' AND to_id = 'S6073'
S6004
S6073
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6073' AND to_id = 'S6034'
S6073
S6034
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6034' AND to_id = 'S6022'
S6034
S6022
4
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6022' AND to_id = 'S6032'
S6022
S6032
9
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6032' AND to_id = 'S6016'
S6032
S6016
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6016' AND to_id = 'R5893'
S6016
R5893
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R5893' AND to_id = 'S6012'
R5893
S6012
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6012' AND to_id = 'S6013'
S6012
S6013
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6013' AND to_id = 'S6096'
S6013
S6096
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6096' AND to_id = 'S6080'
S6096
S6080
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6080' AND to_id = 'S6027'
S6080
S6027
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6027' AND to_id = 'S6006'
S6027
S6006
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6006' AND to_id = 'R1525'
S6006
R1525
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1525' AND to_id = 'R3003'
R1525
R3003
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R3003' AND to_id = 'S6003'
R3003
S6003
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6003' AND to_id = 'H07335'
S6003
H07335
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H07335' AND to_id = 'S6057'
H07335
S6057
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6057' AND to_id = 'S6026'
S6057
S6026
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6026' AND to_id = 'S6015'
S6026
S6015
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6015' AND to_id = 'S6024'
S6015
S6024
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6024' AND to_id = 'R5889'
S6024
R5889
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R5889' AND to_id = 'R5890'
R5889
R5890
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R5890' AND to_id = 'S6077'
R5890
S6077
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6077' AND to_id = 'S6021'
S6077
S6021
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6021' AND to_id = 'S6014'
S6021
S6014
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6014' AND to_id = 'R5891'
S6014
R5891
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R5891' AND to_id = 'R5892'
R5891
R5892
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R5892' AND to_id = 'R3002'
R5892
R3002
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R3002' AND to_id = 'R5878'
R3002
R5878
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R5878' AND to_id = 'S6069'
R5878
S6069
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6069' AND to_id = 'S6007'
S6069
S6007
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6007' AND to_id = 'S6018'
S6007
S6018
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6018' AND to_id = 'S6004'
S6018
S6004
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6004' AND to_id = 'S6073'
S6004
S6073
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6073' AND to_id = 'S6034'
S6073
S6034
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6034' AND to_id = 'S6022'
S6034
S6022
5
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6022' AND to_id = 'S6032'
S6022
S6032
10
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6032' AND to_id = 'S6016'
S6032
S6016
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6016' AND to_id = 'R5893'
S6016
R5893
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R5893' AND to_id = 'S6012'
R5893
S6012
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6012' AND to_id = 'S6013'
S6012
S6013
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6013' AND to_id = 'S6096'
S6013
S6096
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6096' AND to_id = 'S6080'
S6096
S6080
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6080' AND to_id = 'S6027'
S6080
S6027
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6027' AND to_id = 'S6006'
S6027
S6006
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6006' AND to_id = 'R1525'
S6006
R1525
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1525' AND to_id = 'R3003'
R1525
R3003
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R3003' AND to_id = 'S6003'
R3003
S6003
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6003' AND to_id = 'H07335'
S6003
H07335
5
==換 rain498 囉==
==換 Miaw 囉==
==換 jifu5867 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2095' AND to_id = 'S1275'
S2095
S1275
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2171' AND to_id = 'S2094'
S2171
S2094
4

UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5311' AND to_id = 'S2491'
R5311
S2491
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2491' AND to_id = 'S2492'
S2491
S2492
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2507' AND to_id = 'S2493'
S2507
S2493
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2493' AND to_id = 'R5289'
S2493
R5289
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R5289' AND to_id = 'S2489'
R5289
S2489
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2507' AND to_id = 'S2493'
S2507
S2493
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2493' AND to_id = 'R5289'
S2493
R5289
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R5289' AND to_id = 'S2489'
R5289
S2489
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5225' AND to_id = 'R5612'
S5225
R5612
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5612' AND to_id = 'S5231'
R5612
S5231
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5231' AND to_id = 'R5633'
S5231
R5633
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5633' AND to_id = 'R5602'
R5633
R5602
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5602' AND to_id = 'R5575'
R5602
R5575
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5575' AND to_id = 'S5214'
R5575
S5214
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5214' AND to_id = 'S5315'
S5214
S5315
3
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S5315' AND to_id = 'S5224'
S5315
S5224
16
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7329' AND to_id = 'S6988'
S7329
S6988
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6988' AND to_id = 'S7019'
S6988
S7019
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7329' AND to_id = 'S6988'
S7329
S6988
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6988' AND to_id = 'S7019'
S6988
S7019
5
==換 Elsa L 囉==
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7274' AND to_id = 'S0100'
S7274
S0100
9
==換 FreeSpirit 囉==
==換 neta a 囉==
==換 t86841283 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0643' AND to_id = 'S0116'
R0643
S0116
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0116' AND to_id = 'S0128'
S0116
S0128
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0128' AND to_id = 'S0209'
S0128
S0209
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0194' AND to_id = 'S0391'
S0194
S0391
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0391' AND to_id = 'S0373'
S0391
S0373
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0373' AND to_id = 'S0100'
S0373
S0100
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0100' AND to_id = 'S0130'
S0100
S0130
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0139' AND to_id = 'S0124'
S0139
S0124
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0153' AND to_id = 'S0162'
S0153
S0162
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0162' AND to_id = 'S0148'
S0162
S0148
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0148' AND to_id = 'S0202'
S0148
S0202
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0202' AND to_id = 'S0166'
S0202
S0166
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0166' AND to_id = 'S0332'
S0166
S0332
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0153' AND to_id = 'S0162'
S0153
S0162
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0162' AND to_id = 'S0148'
S0162
S0148
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0148' AND to_id = 'S0202'
S0148
S0202
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0202' AND to_id = 'S0166'
S0202
S0166
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0166' AND to_id = 'S0332'
S0166
S0332
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0111' AND to_id = 'S0272'
S0111
S0272
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0272' AND to_id = 'S0241'
S0272
S0241
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0241' AND to_id = 'R0243'
S0241
R0243
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0243' AND to_id = 'R1053'
R0243
R1053
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0561' AND to_id = 'S0233'
S0561
S0233
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0233' AND to_id = 'S0417'
S0233
S0417
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0417' AND to_id = 'S0245'
S0417
S0245
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0245' AND to_id = 'S0195'
S0245
S0195
7
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0376' AND to_id = 'S0250'
S0376
S0250
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0250' AND to_id = 'S0216'
S0250
S0216
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0253' AND to_id = 'S0160'
S0253
S0160
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0160' AND to_id = 'S0836'
S0160
S0836
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0836' AND to_id = 'S0284'
S0836
S0284
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0284' AND to_id = 'S0278'
S0284
S0278
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0253' AND to_id = 'S0160'
S0253
S0160
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0160' AND to_id = 'S0836'
S0160
S0836
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0836' AND to_id = 'S0284'
S0836
S0284
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0284' AND to_id = 'S0278'
S0284
S0278
8
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0673' AND to_id = 'S0187'
S0673
S0187
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0187' AND to_id = 'S0265'
S0187
S0265
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0270' AND to_id = 'S0269'
S0270
S0269
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0269' AND to_id = 'R2301'
S0269
R2301
3
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0253' AND to_id = 'S0160'
S0253
S0160
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0160' AND to_id = 'S0836'
S0160
S0836
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0836' AND to_id = 'S0284'
S0836
S0284
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0284' AND to_id = 'S0278'
S0284
S0278
9
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0278' AND to_id = 'S0253'
S0278
S0253
3
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0253' AND to_id = 'S0160'
S0253
S0160
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0160' AND to_id = 'S0836'
S0160
S0836
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0836' AND to_id = 'S0284'
S0836
S0284
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0284' AND to_id = 'S0278'
S0284
S0278
10
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0287' AND to_id = 'S0297'
S0287
S0297
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0297' AND to_id = 'S0721'
S0297
S0721
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0721' AND to_id = 'S0359'
S0721
S0359
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0359' AND to_id = 'S0243'
S0359
S0243
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0441' AND to_id = 'S0333'
S0441
S0333
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0333' AND to_id = 'S0244'
S0333
S0244
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0244' AND to_id = 'S0616'
S0244
S0616
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0616' AND to_id = 'S0221'
S0616
S0221
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0455' AND to_id = 'S0118'
S0455
S0118
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0118' AND to_id = 'S0361'
S0118
S0361
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0361' AND to_id = 'S0142'
S0361
S0142
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0142' AND to_id = 'S0502'
S0142
S0502
3

UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0502' AND to_id = 'S0104'
S0502
S0104
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0287' AND to_id = 'S0297'
S0287
S0297
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0297' AND to_id = 'S0721'
S0297
S0721
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0721' AND to_id = 'S0359'
S0721
S0359
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0359' AND to_id = 'S0243'
S0359
S0243
6
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0818' AND to_id = 'S0830'
S0818
S0830
9
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0815' AND to_id = 'S0818'
S0815
S0818
21
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0818' AND to_id = 'S0830'
S0818
S0830
10
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0830' AND to_id = 'S0913'
S0830
S0913
4
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0253' AND to_id = 'S0160'
S0253
S0160
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0160' AND to_id = 'S0836'
S0160
S0836
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0836' AND to_id = 'S0284'
S0836
S0284
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0284' AND to_id = 'S0278'
S0284
S0278
11
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1543' AND to_id = 'S0900'
S1543
S0900
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0900' AND to_id = 'S0937'
S0900
S0937
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0937' AND to_id = 'S0821'
S0937
S0821
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0821' AND to_id = 'S0917'
S0821
S0917
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0304' AND to_id = 'S0684'
S0304
S0684
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0684' AND to_id = 'S0900'
S0684
S0900
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0900' AND to_id = 'S0295'
S0900
S0295
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0295' AND to_id = 'S0497'
S0295
S0497
3
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0815' AND to_id = 'S0818'
S0815
S0818
22
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0818' AND to_id = 'S0830'
S0818
S0830
11
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0830' AND to_id = 'S0913'
S0830
S0913
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1543' AND to_id = 'S0900'
S1543
S0900
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0900' AND to_id = 'S0937'
S0900
S0937
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0937' AND to_id = 'S0821'
S0937
S0821
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0821' AND to_id = 'S0917'
S0821
S0917
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0998' AND to_id = 'S1030'
S0998
S1030
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1030' AND to_id = 'R2800'
S1030
R2800
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2800' AND to_id = 'S0945'
R2800
S0945
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0945' AND to_id = 'S0918'
S0945
S0918
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1362' AND to_id = 'S1309'
S1362
S1309
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1309' AND to_id = 'S1235'
S1309
S1235
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1235' AND to_id = 'S0817'
S1235
S0817
3
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0817' AND to_id = 'S0984'
S0817
S0984
9
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7450' AND to_id = 'S1412'
S7450
S1412
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1412' AND to_id = 'S1073'
S1412
S1073
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1073' AND to_id = 'S1342'
S1073
S1342
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1342' AND to_id = 'S1193'
S1342
S1193
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7450' AND to_id = 'S1412'
S7450
S1412
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1412' AND to_id = 'S1073'
S1412
S1073
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1073' AND to_id = 'S1342'
S1073
S1342
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1342' AND to_id = 'S1193'
S1342
S1193
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0018' AND to_id = 'S0015'
S0018
S0015
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0015' AND to_id = 'S0008'
S0015
S0008
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0008' AND to_id = 'S1292'
S0008
S1292
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1292' AND to_id = 'S0921'
S1292
S0921
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1256' AND to_id = 'S0013'
S1256
S0013
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0013' AND to_id = 'S1262'
S0013
S1262
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0018' AND to_id = 'S0015'
S0018
S0015
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0015' AND to_id = 'S0008'
S0015
S0008
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0008' AND to_id = 'S1292'
S0008
S1292
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S1292' AND to_id = 'S0921'
S1292
S0921
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0018' AND to_id = 'S0015'
S0018
S0015
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0015' AND to_id = 'S0008'
S0015
S0008
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0008' AND to_id = 'S1292'
S0008
S1292
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S1292' AND to_id = 'S0921'
S1292
S0921
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0287' AND to_id = 'S0297'
S0287
S0297
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0297' AND to_id = 'S0721'
S0297
S0721
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0721' AND to_id = 'S0359'
S0721
S0359
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0359' AND to_id = 'S0243'
S0359
S0243
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2903' AND to_id = 'S2781'
S2903
S2781
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2781' AND to_id = 'S2780'
S2781
S2780
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2803' AND to_id = 'S2811'
S2803
S2811
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2811' AND to_id = 'S7482'
S2811
S7482
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7482' AND to_id = 'S2798'
S7482
S2798
5
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2798' AND to_id = 'S2796'
S2798
S2796
9
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S3041' AND to_id = 'S2793'
S3041
S2793
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2793' AND to_id = 'S2800'
S2793
S2800
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2800' AND to_id = 'S7695'
S2800
S7695
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7695' AND to_id = 'S3057'
S7695
S3057
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2843' AND to_id = 'S2945'
S2843
S2945
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2945' AND to_id = 'S2801'
S2945
S2801
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2801' AND to_id = 'S2869'
S2801
S2869
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2869' AND to_id = 'S2797'
S2869
S2797
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2797' AND to_id = 'S2803'
S2797
S2803
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2803' AND to_id = 'S2811'
S2803
S2811
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2811' AND to_id = 'S7482'
S2811
S7482
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7482' AND to_id = 'S2798'
S7482
S2798
6
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S2798' AND to_id = 'S2796'
S2798
S2796
10
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2803' AND to_id = 'S2811'
S2803
S2811
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2811' AND to_id = 'S7482'
S2811
S7482
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7482' AND to_id = 'S2798'
S7482
S2798
7
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S2798' AND to_id = 'S2796'

S2798
S2796
11
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2796' AND to_id = 'S2942'
S2796
S2942
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2942' AND to_id = 'S2954'
S2942
S2954
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2954' AND to_id = 'S3022'
S2954
S3022
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S3022' AND to_id = 'S2815'
S3022
S2815
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2815' AND to_id = 'S2872'
S2815
S2872
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2872' AND to_id = 'S2837'
S2872
S2837
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2837' AND to_id = 'S2809'
S2837
S2809
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2809' AND to_id = 'S2935'
S2809
S2935
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2935' AND to_id = 'S2825'
S2935
S2825
6
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2825' AND to_id = 'S2827'
S2825
S2827
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2942' AND to_id = 'S2954'
S2942
S2954
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2954' AND to_id = 'S3022'
S2954
S3022
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S3022' AND to_id = 'S2815'
S3022
S2815
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2815' AND to_id = 'S2872'
S2815
S2872
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2872' AND to_id = 'S2837'
S2872
S2837
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2837' AND to_id = 'S2809'
S2837
S2809
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2809' AND to_id = 'S2935'
S2809
S2935
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2935' AND to_id = 'S2825'
S2935
S2825
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2825' AND to_id = 'S2827'
S2825
S2827
9
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2827' AND to_id = 'S2942'
S2827
S2942
4
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2942' AND to_id = 'S2954'
S2942
S2954
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2954' AND to_id = 'S3022'
S2954
S3022
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S3022' AND to_id = 'S2815'
S3022
S2815
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2815' AND to_id = 'S2872'
S2815
S2872
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2872' AND to_id = 'S2837'
S2872
S2837
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2837' AND to_id = 'S2809'
S2837
S2809
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2809' AND to_id = 'S2935'
S2809
S2935
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2935' AND to_id = 'S2825'
S2935
S2825
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S2825' AND to_id = 'S2827'
S2825
S2827
10
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2827' AND to_id = 'S2942'
S2827
S2942
5
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2942' AND to_id = 'S2954'
S2942
S2954
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2954' AND to_id = 'S3022'
S2954
S3022
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S3022' AND to_id = 'S2815'
S3022
S2815
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2815' AND to_id = 'S2872'
S2815
S2872
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2872' AND to_id = 'S2837'
S2872
S2837
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2837' AND to_id = 'S2809'
S2837
S2809
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2809' AND to_id = 'S2935'
S2809
S2935
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2935' AND to_id = 'S2825'
S2935
S2825
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S2825' AND to_id = 'S2827'
S2825
S2827
11
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2843' AND to_id = 'S2945'
S2843
S2945
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2945' AND to_id = 'S2801'
S2945
S2801
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2801' AND to_id = 'S2869'
S2801
S2869
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2869' AND to_id = 'S2797'
S2869
S2797
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7376' AND to_id = 'S7427'
S7376
S7427
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7427' AND to_id = 'S2873'
S7427
S2873
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2873' AND to_id = 'S7486'
S2873
S7486
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7486' AND to_id = 'S2799'
S7486
S2799
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2843' AND to_id = 'S2945'
S2843
S2945
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2945' AND to_id = 'S2801'
S2945
S2801
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2801' AND to_id = 'S2869'
S2801
S2869
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2869' AND to_id = 'S2797'
S2869
S2797
7
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7723' AND to_id = 'S2957'
S7723
S2957
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2957' AND to_id = 'S2914'
S2957
S2914
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2914' AND to_id = 'S7679'
S2914
S7679
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7679' AND to_id = 'S7731'
S7679
S7731
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7731' AND to_id = 'S7727'
S7731
S7727
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7727' AND to_id = 'S7680'
S7727
S7680
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7680' AND to_id = 'S7434'
S7680
S7434
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7434' AND to_id = 'S7580'
S7434
S7580
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7580' AND to_id = 'S7432'
S7580
S7432
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7148' AND to_id = 'S7137'
S7148
S7137
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7137' AND to_id = 'S7132'
S7137
S7132
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5413' AND to_id = 'S5089'
S5413
S5089
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5089' AND to_id = 'S5336'
S5089
S5336
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5336' AND to_id = 'S7877'
S5336
S7877
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7877' AND to_id = 'S4960'
S7877
S4960
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4960' AND to_id = 'S5307'
S4960
S5307
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5307' AND to_id = 'S5320'
S5307
S5320
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5320' AND to_id = 'S5302'
S5320
S5302
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5302' AND to_id = 'S5217'
S5302
S5217
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5217' AND to_id = 'H15337'
S5217
H15337
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H15337' AND to_id = 'S5413'
H15337
S5413
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5413' AND to_id = 'S5089'
S5413
S5089
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5089' AND to_id = 'S5336'
S5089
S5336
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5336' AND to_id = 'S7877'
S5336
S7877
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7877' AND to_id = 'S4960'
S7877
S4960
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4960' AND to_id = 'S5307'
S4960
S5307
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5307' AND to_id = 'S5320'
S5307
S5320
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5320' AND to_id = 'S5302'
S5320
S5302
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5302' AND to_id = 'S5217'
S5302
S5217
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5217' AND to_id = 'H15337'
S5217
H15337
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6977' AND to_id = 'S6979'
S6977
S6979
5

UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7013' AND to_id = 'S7009'
S7013
S7009
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7009' AND to_id = 'S7012'
S7009
S7012
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7012' AND to_id = 'S7013'
S7012
S7013
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7013' AND to_id = 'S7009'
S7013
S7009
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7009' AND to_id = 'S7012'
S7009
S7012
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6982' AND to_id = 'S7085'
S6982
S7085
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7085' AND to_id = 'S7056'
S7085
S7056
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6982' AND to_id = 'S7085'
S6982
S7085
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7085' AND to_id = 'S7056'
S7085
S7056
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7074' AND to_id = 'S7089'
S7074
S7089
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7148' AND to_id = 'S7137'
S7148
S7137
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7137' AND to_id = 'S7132'
S7137
S7132
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7132' AND to_id = 'S7148'
S7132
S7148
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7148' AND to_id = 'S7137'
S7148
S7137
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7137' AND to_id = 'S7132'
S7137
S7132
7
==換 ChaioI 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0029' AND to_id = 'S0118'
R0029
S0118
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0118' AND to_id = 'R0030'
S0118
R0030
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0030' AND to_id = 'R0031'
R0030
R0031
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0031' AND to_id = 'S6962'
R0031
S6962
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6962' AND to_id = 'H00396'
S6962
H00396
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H00396' AND to_id = 'S0100'
H00396
S0100
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0100' AND to_id = 'S0207'
S0100
S0207
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0207' AND to_id = 'R0032'
S0207
R0032
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0032' AND to_id = 'S7275'
R0032
S7275
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7275' AND to_id = 'S0221'
S7275
S0221
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0221' AND to_id = 'H02652'
S0221
H02652
2
==換 lei k 囉==
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0187' AND to_id = 'S0101'
S0187
S0101
5
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0101' AND to_id = 'S0112'
S0101
S0112
8
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0112' AND to_id = 'S7274'
S0112
S7274
4
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S7274' AND to_id = 'S0102'
S7274
S0102
19
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0102' AND to_id = 'S0135'
S0102
S0135
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0135' AND to_id = 'S0107'
S0135
S0107
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0107' AND to_id = 'S0113'
S0107
S0113
3
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0113' AND to_id = 'S0115'
S0113
S0115
10
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0115' AND to_id = 'S0100'
S0115
S0100
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0100' AND to_id = 'S0174'
S0100
S0174
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1094' AND to_id = 'S0359'
S1094
S0359
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2903' AND to_id = 'S2846'
S2903
S2846
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2846' AND to_id = 'S7725'
S2846
S7725
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7725' AND to_id = 'R1493'
S7725
R1493
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1493' AND to_id = 'S2828'
R1493
S2828
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2903' AND to_id = 'S2846'
S2903
S2846
7
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2846' AND to_id = 'S7725'
S2846
S7725
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7725' AND to_id = 'R1493'
S7725
R1493
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1493' AND to_id = 'S2828'
R1493
S2828
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2865' AND to_id = 'S2957'
S2865
S2957
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4405' AND to_id = 'S4343'
S4405
S4343
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4343' AND to_id = 'S7714'
S4343
S7714
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7714' AND to_id = 'S4192'
S7714
S4192
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4192' AND to_id = 'S4119'
S4192
S4119
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4119' AND to_id = 'S4129'
S4119
S4129
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4129' AND to_id = 'S4431'
S4129
S4431
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4431' AND to_id = 'S4301'
S4431
S4301
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4405' AND to_id = 'S4343'
S4405
S4343
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4343' AND to_id = 'S7714'
S4343
S7714
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7714' AND to_id = 'S4192'
S7714
S4192
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4192' AND to_id = 'S4119'
S4192
S4119
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4405' AND to_id = 'S4343'
S4405
S4343
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4343' AND to_id = 'S7714'
S4343
S7714
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7714' AND to_id = 'S4192'
S7714
S4192
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4192' AND to_id = 'S4119'
S4192
S4119
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4119' AND to_id = 'S4129'
S4119
S4129
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4129' AND to_id = 'S4431'
S4129
S4431
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4431' AND to_id = 'S4301'
S4431
S4301
5
==換 Kriselle Rae D 囉==
==換 Washielim 囉==
==換 Samuel S 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0111' AND to_id = 'S7299'
S0111
S7299
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0292' AND to_id = 'S6442'
S0292
S6442
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6442' AND to_id = 'S6292'
S6442
S6292
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6292' AND to_id = 'S6266'
S6292
S6266
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6266' AND to_id = 'S6393'
S6266
S6393
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6393' AND to_id = 'S6396'
S6393
S6396
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6396' AND to_id = 'S6401'
S6396
S6401
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6401' AND to_id = 'S6504'
S6401
S6504
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6504' AND to_id = 'S0251'
S6504
S0251
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0251' AND to_id = 'S0287'
S0251
S0287
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0287' AND to_id = 'S0720'
S0287
S0720
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0720' AND to_id = 'S0188'
S0720
S0188
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0188' AND to_id = 'S7333'
S0188
S7333
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7333' AND to_id = 'S0146'
S7333
S0146
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0146' AND to_id = 'S0128'
S0146
S0128
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0128' AND to_id = 'S0269'
S0128
S0269
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0269' AND to_id = 'S7372'
S0269
S7372
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7372' AND to_id = 'R0105'
S7372
R0105
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0105' AND to_id = 'R0083'
R0105
R0083
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0083' AND to_id = 'S0159'

R0083
S0159
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0104' AND to_id = 'S0287'
S0104
S0287
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0287' AND to_id = 'S0720'
S0287
S0720
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0720' AND to_id = 'S0188'
S0720
S0188
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0188' AND to_id = 'S7333'
S0188
S7333
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7333' AND to_id = 'S0146'
S7333
S0146
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0146' AND to_id = 'S0128'
S0146
S0128
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0128' AND to_id = 'S0269'
S0128
S0269
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0269' AND to_id = 'S7372'
S0269
S7372
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7372' AND to_id = 'R0105'
S7372
R0105
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0105' AND to_id = 'R0083'
R0105
R0083
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0083' AND to_id = 'S0159'
R0083
S0159
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0159' AND to_id = 'S0892'
S0159
S0892
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0892' AND to_id = 'S7558'
S0892
S7558
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7558' AND to_id = 'S1298'
S7558
S1298
4
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S1298' AND to_id = 'S0967'
S1298
S0967
8
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0967' AND to_id = 'S0179'
S0967
S0179
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0179' AND to_id = 'S1029'
S0179
S1029
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1029' AND to_id = 'S0104'
S1029
S0104
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0292' AND to_id = 'S6442'
S0292
S6442
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6442' AND to_id = 'S6292'
S6442
S6292
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6292' AND to_id = 'S6266'
S6292
S6266
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6266' AND to_id = 'S6393'
S6266
S6393
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6393' AND to_id = 'S6396'
S6393
S6396
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6396' AND to_id = 'S6401'
S6396
S6401
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6401' AND to_id = 'S6504'
S6401
S6504
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6504' AND to_id = 'S0251'
S6504
S0251
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0292' AND to_id = 'S6442'
S0292
S6442
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6442' AND to_id = 'S6292'
S6442
S6292
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6292' AND to_id = 'S6266'
S6292
S6266
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6266' AND to_id = 'S6393'
S6266
S6393
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6393' AND to_id = 'S6396'
S6393
S6396
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6396' AND to_id = 'S6401'
S6396
S6401
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S6401' AND to_id = 'S6504'
S6401
S6504
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6504' AND to_id = 'S0251'
S6504
S0251
4
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6132' AND to_id = 'S6163'
S6132
S6163
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6163' AND to_id = 'S6152'
S6163
S6152
14
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6152' AND to_id = 'S6199'
S6152
S6199
9
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S6199' AND to_id = 'S6132'
S6199
S6132
7
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S6132' AND to_id = 'S6163'
S6132
S6163
16
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6163' AND to_id = 'S6152'
S6163
S6152
15
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6152' AND to_id = 'S6199'
S6152
S6199
10
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S6199' AND to_id = 'S6132'
S6199
S6132
8
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S6132' AND to_id = 'S6163'
S6132
S6163
17
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S6163' AND to_id = 'S6152'
S6163
S6152
16
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6152' AND to_id = 'S6199'
S6152
S6199
11
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6199' AND to_id = 'S6132'
S6199
S6132
9
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S6132' AND to_id = 'S6163'
S6132
S6163
18
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S6163' AND to_id = 'S6152'
S6163
S6152
17
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S6152' AND to_id = 'S6199'
S6152
S6199
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6199' AND to_id = 'S6132'
S6199
S6132
10
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S6132' AND to_id = 'S6163'
S6132
S6163
19
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S6163' AND to_id = 'S6152'
S6163
S6152
18
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S6152' AND to_id = 'S6199'
S6152
S6199
13
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6199' AND to_id = 'S6132'
S6199
S6132
11
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S6132' AND to_id = 'S6163'
S6132
S6163
20
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S6163' AND to_id = 'S6152'
S6163
S6152
19
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6152' AND to_id = 'S6199'
S6152
S6199
14
==換 Mei-Ching C 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0100' AND to_id = 'S0101'
S0100
S0101
3
==換 Pebbles821 囉==
==換 Michael Y 囉==
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0815' AND to_id = 'S0818'
S0815
S0818
23
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0818' AND to_id = 'S0812'
S0818
S0812
19
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0812' AND to_id = 'S0815'
S0812
S0815
9
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0815' AND to_id = 'S0818'
S0815
S0818
24
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0818' AND to_id = 'S0812'
S0818
S0812
20
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0812' AND to_id = 'S0815'
S0812
S0815
10
==換 Doralian 囉==
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0251' AND to_id = 'R0847'
R0251
R0847
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0138' AND to_id = 'R0139'
R0138
R0139
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0139' AND to_id = 'S1094'
R0139
S1094
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S1094' AND to_id = 'S0100'
S1094
S0100
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0100' AND to_id = 'S0110'
S0100
S0110
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0110' AND to_id = 'S0195'
S0110
S0195
8
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0195' AND to_id = 'S0359'
S0195
S0359
16
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0359' AND to_id = 'S0123'
S0359
S0123
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0123' AND to_id = 'S0124'
S0123
S0124
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0124' AND to_id = 'S0983'
S0124
S0983
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0983' AND to_id = 'S0247'
S0983
S0247
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0247' AND to_id = 'S0188'
S0247
S0188
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0188' AND to_id = 'S0287'
S0188
S0287
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0287' AND to_id = 'S0118'
S0287
S0118
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0118' AND to_id = 'R0140'
S0118
R0140
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0138' AND to_id = 'R0139'
R0138
R0139
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0139' AND to_id = 'S1094'

R0139
S1094
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S1094' AND to_id = 'S0100'
S1094
S0100
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0100' AND to_id = 'S0110'
S0100
S0110
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0110' AND to_id = 'S0195'
S0110
S0195
9
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0195' AND to_id = 'S0359'
S0195
S0359
17
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0359' AND to_id = 'S0123'
S0359
S0123
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0123' AND to_id = 'S0124'
S0123
S0124
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0124' AND to_id = 'S0983'
S0124
S0983
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0983' AND to_id = 'S0247'
S0983
S0247
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0247' AND to_id = 'S0188'
S0247
S0188
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0188' AND to_id = 'S0287'
S0188
S0287
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0287' AND to_id = 'S0118'
S0287
S0118
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0118' AND to_id = 'R0140'
S0118
R0140
9
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
20
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
11
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
27
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0270' AND to_id = 'S0429'
S0270
S0429
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
11
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
26
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0921' AND to_id = 'S1027'
S0921
S1027
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
11
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1065' AND to_id = 'S0111'
R1065
S0111
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0111' AND to_id = 'S0836'
S0111
S0836
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0836' AND to_id = 'S0316'
S0836
S0316
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0316' AND to_id = 'S7347'
S0316
S7347
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7347' AND to_id = 'S0139'
S7347
S0139
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0139' AND to_id = 'R0887'
S0139
R0887
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0887' AND to_id = 'R1066'
R0887
R1066
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1066' AND to_id = 'R0251'
R1066
R0251
5
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0251' AND to_id = 'R0847'
R0251
R0847
9
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0847' AND to_id = 'R1067'
R0847
R1067
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1067' AND to_id = 'R1068'
R1067
R1068
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1068' AND to_id = 'R1069'
R1068
R1069
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1069' AND to_id = 'S0176'
R1069
S0176
5
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0176' AND to_id = 'S7299'
S0176
S7299
9
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7299' AND to_id = 'S7333'
S7299
S7333
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7333' AND to_id = 'R1070'
S7333
R1070
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1070' AND to_id = 'R1016'
R1070
R1016
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1016' AND to_id = 'S0697'
R1016
S0697
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0198' AND to_id = 'R1812'
R0198
R1812
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1812' AND to_id = 'R0462'
R1812
R0462
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0462' AND to_id = 'S0187'
R0462
S0187
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0187' AND to_id = 'S0102'
S0187
S0102
4
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0102' AND to_id = 'S0158'
S0102
S0158
10
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0158' AND to_id = 'S0159'
S0158
S0159
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0159' AND to_id = 'S0108'
S0159
S0108
4
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0108' AND to_id = 'S0101'
S0108
S0101
7
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0101' AND to_id = 'S0114'
S0101
S0114
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0114' AND to_id = 'S0221'
S0114
S0221
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0221' AND to_id = 'S0258'
S0221
S0258
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0258' AND to_id = 'R0548'
S0258
R0548
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0548' AND to_id = 'R1813'
R0548
R1813
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1813' AND to_id = 'S0237'
R1813
S0237
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0237' AND to_id = 'R1814'
S0237
R1814
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1814' AND to_id = 'R1815'
R1814
R1815
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1815' AND to_id = 'R1816'
R1815
R1816
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1816' AND to_id = 'S0181'
R1816
S0181
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0181' AND to_id = 'R1817'
S0181
R1817
4
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
21
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
12
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
28
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0270' AND to_id = 'S0429'
S0270
S0429
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
12
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
27
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0921' AND to_id = 'S1027'

S0921
S1027
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0138' AND to_id = 'R0139'
R0138
R0139
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0139' AND to_id = 'S1094'
R0139
S1094
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S1094' AND to_id = 'S0100'
S1094
S0100
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0100' AND to_id = 'S0110'
S0100
S0110
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0110' AND to_id = 'S0195'
S0110
S0195
10
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0195' AND to_id = 'S0359'
S0195
S0359
18
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0359' AND to_id = 'S0123'
S0359
S0123
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0123' AND to_id = 'S0124'
S0123
S0124
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0124' AND to_id = 'S0983'
S0124
S0983
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0983' AND to_id = 'S0247'
S0983
S0247
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0247' AND to_id = 'S0188'
S0247
S0188
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0188' AND to_id = 'S0287'
S0188
S0287
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0287' AND to_id = 'S0118'
S0287
S0118
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0118' AND to_id = 'R0140'
S0118
R0140
10
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0235' AND to_id = 'S5740'
R0235
S5740
3
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S5740' AND to_id = 'S5733'
S5740
S5733
13
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5733' AND to_id = 'S5758'
S5733
S5758
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5758' AND to_id = 'R1888'
S5758
R1888
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1888' AND to_id = 'S5742'
R1888
S5742
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5742' AND to_id = 'S5750'
S5742
S5750
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5750' AND to_id = 'S5748'
S5750
S5748
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5748' AND to_id = 'S5760'
S5748
S5760
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5760' AND to_id = 'S5793'
S5760
S5793
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5793' AND to_id = 'S5880'
S5793
S5880
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5880' AND to_id = 'S5899'
S5880
S5899
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5899' AND to_id = 'R0201'
S5899
R0201
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0201' AND to_id = 'S7471'
R0201
S7471
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7471' AND to_id = 'S5766'
S7471
S5766
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5766' AND to_id = 'S5753'
S5766
S5753
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5753' AND to_id = 'S5763'
S5753
S5763
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5763' AND to_id = 'S5886'
S5763
S5886
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5886' AND to_id = 'R1889'
S5886
R1889
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1889' AND to_id = 'S5772'
R1889
S5772
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5772' AND to_id = 'S5813'
S5772
S5813
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0198' AND to_id = 'R1812'
R0198
R1812
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1812' AND to_id = 'R0462'
R1812
R0462
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0462' AND to_id = 'S0187'
R0462
S0187
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0187' AND to_id = 'S0102'
S0187
S0102
5
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0102' AND to_id = 'S0158'
S0102
S0158
11
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0158' AND to_id = 'S0159'
S0158
S0159
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0159' AND to_id = 'S0108'
S0159
S0108
5
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0108' AND to_id = 'S0101'
S0108
S0101
8
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0101' AND to_id = 'S0114'
S0101
S0114
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0114' AND to_id = 'S0221'
S0114
S0221
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0221' AND to_id = 'S0258'
S0221
S0258
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0258' AND to_id = 'R0548'
S0258
R0548
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0548' AND to_id = 'R1813'
R0548
R1813
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1813' AND to_id = 'S0237'
R1813
S0237
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0237' AND to_id = 'R1814'
S0237
R1814
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1814' AND to_id = 'R1815'
R1814
R1815
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1815' AND to_id = 'R1816'
R1815
R1816
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1816' AND to_id = 'S0181'
R1816
S0181
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0181' AND to_id = 'R1817'
S0181
R1817
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1817' AND to_id = 'S0823'
R1817
S0823
3
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
22
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
13
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
29
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0270' AND to_id = 'S0429'
S0270
S0429
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
13
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
28
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0921' AND to_id = 'S1027'
S0921
S1027
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
13
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7269' AND to_id = 'S7419'
S7269
S7419
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7419' AND to_id = 'R1322'
S7419
R1322
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1322' AND to_id = 'R1323'
R1322
R1323
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1323' AND to_id = 'R1177'

R1323
R1177
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1177' AND to_id = 'R1324'
R1177
R1324
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1324' AND to_id = 'R1325'
R1324
R1325
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1325' AND to_id = 'R1326'
R1325
R1326
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1326' AND to_id = 'R1327'
R1326
R1327
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1327' AND to_id = 'R1328'
R1327
R1328
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1328' AND to_id = 'R1329'
R1328
R1329
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1329' AND to_id = 'R1330'
R1329
R1330
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1330' AND to_id = 'R1245'
R1330
R1245
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1245' AND to_id = 'S5743'
R1245
S5743
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5743' AND to_id = 'S5751'
S5743
S5751
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5751' AND to_id = 'R1054'
S5751
R1054
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1054' AND to_id = 'R1122'
R1054
R1122
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1122' AND to_id = 'R1331'
R1122
R1331
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1331' AND to_id = 'R1332'
R1331
R1332
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1332' AND to_id = 'S5479'
R1332
S5479
2
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S5479' AND to_id = 'S5513'
S5479
S5513
21
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7269' AND to_id = 'S7419'
S7269
S7419
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7419' AND to_id = 'R1322'
S7419
R1322
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1322' AND to_id = 'R1323'
R1322
R1323
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1323' AND to_id = 'R1177'
R1323
R1177
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1177' AND to_id = 'R1324'
R1177
R1324
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1324' AND to_id = 'R1325'
R1324
R1325
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1325' AND to_id = 'R1326'
R1325
R1326
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1326' AND to_id = 'R1327'
R1326
R1327
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1327' AND to_id = 'R1328'
R1327
R1328
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1328' AND to_id = 'R1329'
R1328
R1329
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1329' AND to_id = 'R1330'
R1329
R1330
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1330' AND to_id = 'R1245'
R1330
R1245
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1245' AND to_id = 'S5743'
R1245
S5743
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5743' AND to_id = 'S5751'
S5743
S5751
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5751' AND to_id = 'R1054'
S5751
R1054
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1054' AND to_id = 'R1122'
R1054
R1122
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1122' AND to_id = 'R1331'
R1122
R1331
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1331' AND to_id = 'R1332'
R1331
R1332
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1332' AND to_id = 'S5479'
R1332
S5479
3
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S5479' AND to_id = 'S5513'
S5479
S5513
22
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1065' AND to_id = 'S0111'
R1065
S0111
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0111' AND to_id = 'S0836'
S0111
S0836
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0836' AND to_id = 'S0316'
S0836
S0316
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0316' AND to_id = 'S7347'
S0316
S7347
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7347' AND to_id = 'S0139'
S7347
S0139
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0139' AND to_id = 'R0887'
S0139
R0887
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0887' AND to_id = 'R1066'
R0887
R1066
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1066' AND to_id = 'R0251'
R1066
R0251
6
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0251' AND to_id = 'R0847'
R0251
R0847
10
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0847' AND to_id = 'R1067'
R0847
R1067
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1067' AND to_id = 'R1068'
R1067
R1068
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1068' AND to_id = 'R1069'
R1068
R1069
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1069' AND to_id = 'S0176'
R1069
S0176
6
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0176' AND to_id = 'S7299'
S0176
S7299
10
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7299' AND to_id = 'S7333'
S7299
S7333
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7333' AND to_id = 'R1070'
S7333
R1070
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1070' AND to_id = 'R1016'
R1070
R1016
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1016' AND to_id = 'S0697'
R1016
S0697
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7269' AND to_id = 'S7419'
S7269
S7419
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7419' AND to_id = 'R1322'
S7419
R1322
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1322' AND to_id = 'R1323'
R1322
R1323
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1323' AND to_id = 'R1177'
R1323
R1177
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1177' AND to_id = 'R1324'
R1177
R1324
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1324' AND to_id = 'R1325'
R1324
R1325
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1325' AND to_id = 'R1326'
R1325
R1326
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1326' AND to_id = 'R1327'
R1326
R1327
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1327' AND to_id = 'R1328'
R1327
R1328
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1328' AND to_id = 'R1329'
R1328
R1329
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1329' AND to_id = 'R1330'
R1329
R1330
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1330' AND to_id = 'R1245'
R1330
R1245
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1245' AND to_id = 'S5743'
R1245
S5743
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5743' AND to_id = 'S5751'
S5743
S5751
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5751' AND to_id = 'R1054'
S5751
R1054
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1054' AND to_id = 'R1122'
R1054
R1122
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1122' AND to_id = 'R1331'
R1122
R1331
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1331' AND to_id = 'R1332'
R1331
R1332
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1332' AND to_id = 'S5479'
R1332
S5479
4
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S5479' AND to_id = 'S5513'
S5479
S5513
23
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0138' AND to_id = 'R0139'
R0138
R0139
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0139' AND to_id = 'S1094'
R0139
S1094
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S1094' AND to_id = 'S0100'
S1094
S0100
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0100' AND to_id = 'S0110'
S0100
S0110
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0110' AND to_id = 'S0195'
S0110
S0195
11
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0195' AND to_id = 'S0359'
S0195
S0359
19
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0359' AND to_id = 'S0123'
S0359
S0123
11
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0123' AND to_id = 'S0124'
S0123
S0124
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0124' AND to_id = 'S0983'
S0124
S0983
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0983' AND to_id = 'S0247'

S0983
S0247
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0247' AND to_id = 'S0188'
S0247
S0188
11
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0188' AND to_id = 'S0287'
S0188
S0287
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0287' AND to_id = 'S0118'
S0287
S0118
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0118' AND to_id = 'R0140'
S0118
R0140
11
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
23
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
14
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
30
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0270' AND to_id = 'S0429'
S0270
S0429
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
14
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
29
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0921' AND to_id = 'S1027'
S0921
S1027
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
14
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1443' AND to_id = 'S0823'
R1443
S0823
5
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
24
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
16
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
15
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
31
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0270' AND to_id = 'S0429'
S0270
S0429
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
15
UPDATE path_relationship SET d_edge = '30' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
30
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0921' AND to_id = 'S1027'
S0921
S1027
16
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
15
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1443' AND to_id = 'S0823'
R1443
S0823
6
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
25
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
17
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
16
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
32
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0270' AND to_id = 'S0429'
S0270
S0429
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
16
UPDATE path_relationship SET d_edge = '31' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
31
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0921' AND to_id = 'S1027'
S0921
S1027
17
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
16
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1065' AND to_id = 'S0111'
R1065
S0111
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0111' AND to_id = 'S0836'
S0111
S0836
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0836' AND to_id = 'S0316'
S0836
S0316
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0316' AND to_id = 'S7347'
S0316
S7347
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7347' AND to_id = 'S0139'
S7347
S0139
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0139' AND to_id = 'R0887'
S0139
R0887
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0887' AND to_id = 'R1066'
R0887
R1066
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1066' AND to_id = 'R0251'
R1066
R0251
7
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0251' AND to_id = 'R0847'
R0251
R0847
11
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0847' AND to_id = 'R1067'
R0847
R1067
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1067' AND to_id = 'R1068'
R1067
R1068
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1068' AND to_id = 'R1069'
R1068
R1069
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1069' AND to_id = 'S0176'
R1069
S0176
7
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0176' AND to_id = 'S7299'
S0176
S7299
11
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7299' AND to_id = 'S7333'
S7299
S7333
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7333' AND to_id = 'R1070'

S7333
R1070
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1070' AND to_id = 'R1016'
R1070
R1016
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1016' AND to_id = 'S0697'
R1016
S0697
7
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
26
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
18
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
17
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
33
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0270' AND to_id = 'S0429'
S0270
S0429
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
17
UPDATE path_relationship SET d_edge = '32' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
32
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0921' AND to_id = 'S1027'
S0921
S1027
18
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
17
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1443' AND to_id = 'S0823'
R1443
S0823
7
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
27
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
19
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
18
UPDATE path_relationship SET d_edge = '34' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
34
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0270' AND to_id = 'S0429'
S0270
S0429
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
18
UPDATE path_relationship SET d_edge = '33' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
33
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0921' AND to_id = 'S1027'
S0921
S1027
19
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
18
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1443' AND to_id = 'R0138'
R1443
R0138
3
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0138' AND to_id = 'R0139'
R0138
R0139
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0139' AND to_id = 'S1094'
R0139
S1094
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S1094' AND to_id = 'S0100'
S1094
S0100
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0100' AND to_id = 'S0110'
S0100
S0110
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0110' AND to_id = 'S0195'
S0110
S0195
12
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0195' AND to_id = 'S0359'
S0195
S0359
20
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0359' AND to_id = 'S0123'
S0359
S0123
12
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0123' AND to_id = 'S0124'
S0123
S0124
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0124' AND to_id = 'S0983'
S0124
S0983
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0983' AND to_id = 'S0247'
S0983
S0247
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0247' AND to_id = 'S0188'
S0247
S0188
12
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0188' AND to_id = 'S0287'
S0188
S0287
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0287' AND to_id = 'S0118'
S0287
S0118
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0118' AND to_id = 'R0140'
S0118
R0140
12
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0140' AND to_id = 'R2611'
R0140
R2611
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2611' AND to_id = 'R2612'
R2611
R2612
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2612' AND to_id = 'S0937'
R2612
S0937
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0937' AND to_id = 'S0151'
S0937
S0151
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0151' AND to_id = 'S0984'
S0151
S0984
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0984' AND to_id = 'S0900'
S0984
S0900
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0900' AND to_id = 'S1949'
S0900
S1949
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S1949' AND to_id = 'S0179'
S1949
S0179
8
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0179' AND to_id = 'R2599'
S0179
R2599
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2599' AND to_id = 'S0142'
R2599
S0142
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0142' AND to_id = 'R2613'
S0142
R2613
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2613' AND to_id = 'R2614'
R2613
R2614
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2614' AND to_id = 'S0823'
R2614
S0823
3
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'S0823' AND to_id = 'S0812'
S0823
S0812
28
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0812' AND to_id = 'S0822'
S0812
S0822
20
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0822' AND to_id = 'S0818'
S0822
S0818
19
UPDATE path_relationship SET d_edge = '35' WHERE from_id = 'S0818' AND to_id = 'S0815'
S0818
S0815
35
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0815' AND to_id = 'S0820'
S0815
S0820
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0820' AND to_id = 'S0830'
S0820
S0830
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0830' AND to_id = 'S0997'
S0830
S0997
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0997' AND to_id = 'S0911'
S0997
S0911
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0911' AND to_id = 'S0270'
S0911
S0270
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0270' AND to_id = 'S0429'

S0270
S0429
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0429' AND to_id = 'S0901'
S0429
S0901
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0901' AND to_id = 'S0814'
S0901
S0814
19
UPDATE path_relationship SET d_edge = '34' WHERE from_id = 'S0814' AND to_id = 'S0921'
S0814
S0921
34
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0921' AND to_id = 'S1027'
S0921
S1027
20
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S1027' AND to_id = 'S0913'
S1027
S0913
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0913' AND to_id = 'S0917'
S0913
S0917
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0917' AND to_id = 'S0953'
S0917
S0953
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0953' AND to_id = 'S0900'
S0953
S0900
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0900' AND to_id = 'R0836'
S0900
R0836
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0836' AND to_id = 'R1443'
R0836
R1443
19
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0235' AND to_id = 'S5740'
R0235
S5740
4
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S5740' AND to_id = 'S5733'
S5740
S5733
14
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5733' AND to_id = 'S5758'
S5733
S5758
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5758' AND to_id = 'R1888'
S5758
R1888
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1888' AND to_id = 'S5742'
R1888
S5742
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5742' AND to_id = 'S5750'
S5742
S5750
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5750' AND to_id = 'S5748'
S5750
S5748
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5748' AND to_id = 'S5760'
S5748
S5760
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5760' AND to_id = 'S5793'
S5760
S5793
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5793' AND to_id = 'S5880'
S5793
S5880
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5880' AND to_id = 'S5899'
S5880
S5899
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5899' AND to_id = 'R0201'
S5899
R0201
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0201' AND to_id = 'S7471'
R0201
S7471
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7471' AND to_id = 'S5766'
S7471
S5766
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5766' AND to_id = 'S5753'
S5766
S5753
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5753' AND to_id = 'S5763'
S5753
S5763
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5763' AND to_id = 'S5886'
S5763
S5886
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5886' AND to_id = 'R1889'
S5886
R1889
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1889' AND to_id = 'S5772'
R1889
S5772
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5772' AND to_id = 'S5813'
S5772
S5813
4
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0138' AND to_id = 'R0139'
R0138
R0139
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0139' AND to_id = 'S1094'
R0139
S1094
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S1094' AND to_id = 'S0100'
S1094
S0100
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0100' AND to_id = 'S0110'
S0100
S0110
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0110' AND to_id = 'S0195'
S0110
S0195
13
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0195' AND to_id = 'S0359'
S0195
S0359
21
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0359' AND to_id = 'S0123'
S0359
S0123
13
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0123' AND to_id = 'S0124'
S0123
S0124
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0124' AND to_id = 'S0983'
S0124
S0983
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0983' AND to_id = 'S0247'
S0983
S0247
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0247' AND to_id = 'S0188'
S0247
S0188
13
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0188' AND to_id = 'S0287'
S0188
S0287
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0287' AND to_id = 'S0118'
S0287
S0118
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0118' AND to_id = 'R0140'
S0118
R0140
13
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0140' AND to_id = 'R0235'
R0140
R0235
2
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0235' AND to_id = 'S5740'
R0235
S5740
5
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S5740' AND to_id = 'S5733'
S5740
S5733
15
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5733' AND to_id = 'S5758'
S5733
S5758
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5758' AND to_id = 'R1888'
S5758
R1888
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1888' AND to_id = 'S5742'
R1888
S5742
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5742' AND to_id = 'S5750'
S5742
S5750
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5750' AND to_id = 'S5748'
S5750
S5748
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5748' AND to_id = 'S5760'
S5748
S5760
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5760' AND to_id = 'S5793'
S5760
S5793
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5793' AND to_id = 'S5880'
S5793
S5880
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5880' AND to_id = 'S5899'
S5880
S5899
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5899' AND to_id = 'R0201'
S5899
R0201
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0201' AND to_id = 'S7471'
R0201
S7471
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7471' AND to_id = 'S5766'
S7471
S5766
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5766' AND to_id = 'S5753'
S5766
S5753
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5753' AND to_id = 'S5763'
S5753
S5763
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5763' AND to_id = 'S5886'
S5763
S5886
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5886' AND to_id = 'R1889'
S5886
R1889
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1889' AND to_id = 'S5772'
R1889
S5772
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5772' AND to_id = 'S5813'
S5772
S5813
5
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0483' AND to_id = 'R1151'
S0483
R1151
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1151' AND to_id = 'R0967'
R1151
R0967
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0967' AND to_id = 'S0127'
R0967
S0127
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7269' AND to_id = 'S7419'
S7269
S7419
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7419' AND to_id = 'R1322'
S7419
R1322
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1322' AND to_id = 'R1323'
R1322
R1323
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1323' AND to_id = 'R1177'
R1323
R1177
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1177' AND to_id = 'R1324'
R1177
R1324
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1324' AND to_id = 'R1325'
R1324
R1325
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1325' AND to_id = 'R1326'
R1325
R1326
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1326' AND to_id = 'R1327'
R1326
R1327
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1327' AND to_id = 'R1328'
R1327
R1328
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1328' AND to_id = 'R1329'
R1328
R1329
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R1329' AND to_id = 'R1330'
R1329
R1330
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R1330' AND to_id = 'R1245'
R1330
R1245
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R1245' AND to_id = 'S5743'
R1245
S5743
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5743' AND to_id = 'S5751'
S5743
S5751
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5751' AND to_id = 'R1054'
S5751
R1054
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1054' AND to_id = 'R1122'

R1054
R1122
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1122' AND to_id = 'R1331'
R1122
R1331
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1331' AND to_id = 'R1332'
R1331
R1332
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1332' AND to_id = 'S5479'
R1332
S5479
5
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S5479' AND to_id = 'S5513'
S5479
S5513
24
==換 Yi Jung C 囉==
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0115' AND to_id = 'S0107'
S0115
S0107
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0099' AND to_id = 'S0104'
S0099
S0104
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0104' AND to_id = 'S0115'
S0104
S0115
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0115' AND to_id = 'S0107'
S0115
S0107
7
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0107' AND to_id = 'S0142'
S0107
S0142
12
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0142' AND to_id = 'S0118'
S0142
S0118
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0118' AND to_id = 'S0150'
S0118
S0150
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0150' AND to_id = 'S0111'
S0150
S0111
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0111' AND to_id = 'S0191'
S0111
S0191
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0191' AND to_id = 'S0158'
S0191
S0158
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0158' AND to_id = 'S0108'
S0158
S0108
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0108' AND to_id = 'S0148'
S0108
S0148
6
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0148' AND to_id = 'S0162'
S0148
S0162
10
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0162' AND to_id = 'S0103'
S0162
S0103
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0103' AND to_id = 'S0194'
S0103
S0194
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0194' AND to_id = 'S0105'
S0194
S0105
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0105' AND to_id = 'S0174'
S0105
S0174
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0174' AND to_id = 'S0101'
S0174
S0101
5
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0101' AND to_id = 'S0176'
S0101
S0176
10
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0176' AND to_id = 'S0099'
S0176
S0099
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0099' AND to_id = 'S0104'
S0099
S0104
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0104' AND to_id = 'S0115'
S0104
S0115
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0115' AND to_id = 'S0107'
S0115
S0107
8
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0107' AND to_id = 'S0142'
S0107
S0142
13
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0142' AND to_id = 'S0118'
S0142
S0118
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0118' AND to_id = 'S0150'
S0118
S0150
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0150' AND to_id = 'S0111'
S0150
S0111
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0111' AND to_id = 'S0191'
S0111
S0191
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0191' AND to_id = 'S0158'
S0191
S0158
6
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0158' AND to_id = 'S0108'
S0158
S0108
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0108' AND to_id = 'S0148'
S0108
S0148
7
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0148' AND to_id = 'S0162'
S0148
S0162
11
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0162' AND to_id = 'S0103'
S0162
S0103
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0103' AND to_id = 'S0194'
S0103
S0194
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0194' AND to_id = 'S0105'
S0194
S0105
6
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0105' AND to_id = 'S0174'
S0105
S0174
8
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0174' AND to_id = 'S0101'
S0174
S0101
6
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0101' AND to_id = 'S0176'
S0101
S0176
11
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0176' AND to_id = 'S0099'
S0176
S0099
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0099' AND to_id = 'S0104'
S0099
S0104
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0104' AND to_id = 'S0115'
S0104
S0115
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0115' AND to_id = 'S0107'
S0115
S0107
9
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0107' AND to_id = 'S0142'
S0107
S0142
14
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0142' AND to_id = 'S0118'
S0142
S0118
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0118' AND to_id = 'S0150'
S0118
S0150
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0150' AND to_id = 'S0111'
S0150
S0111
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0111' AND to_id = 'S0191'
S0111
S0191
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0191' AND to_id = 'S0158'
S0191
S0158
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0158' AND to_id = 'S0108'
S0158
S0108
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0108' AND to_id = 'S0148'
S0108
S0148
8
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0148' AND to_id = 'S0162'
S0148
S0162
12
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0162' AND to_id = 'S0103'
S0162
S0103
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0103' AND to_id = 'S0194'
S0103
S0194
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0194' AND to_id = 'S0105'
S0194
S0105
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0105' AND to_id = 'S0174'
S0105
S0174
9
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0174' AND to_id = 'S0101'
S0174
S0101
7
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0101' AND to_id = 'S0176'
S0101
S0176
12
==換 MstrViolinist 囉==
==換 waiemil 囉==
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S1298' AND to_id = 'S0967'
S1298
S0967
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7558' AND to_id = 'S1133'
S7558
S1133
8
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1133' AND to_id = 'S1298'
S1133
S1298
3
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S1298' AND to_id = 'S0967'
S1298
S0967
10
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0967' AND to_id = 'R0235'
S0967
R0235
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0235' AND to_id = 'R1962'
R0235
R1962
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1962' AND to_id = 'R3279'
R1962
R3279
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R3279' AND to_id = 'R0037'
R3279
R0037
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0037' AND to_id = 'R3280'
R0037
R3280
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H02820' AND to_id = 'R4046'
H02820
R4046
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4046' AND to_id = 'S2803'
R4046
S2803
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2803' AND to_id = 'S2951'
S2803
S2951
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2951' AND to_id = 'S2793'
S2951
S2793
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2793' AND to_id = 'R2852'
S2793
R2852
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2852' AND to_id = 'S2820'
R2852
S2820
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2820' AND to_id = 'S2771'
S2820
S2771
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2771' AND to_id = 'S2952'
S2771
S2952
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2952' AND to_id = 'S2780'
S2952
S2780
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2780' AND to_id = 'R4047'
S2780
R4047
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4047' AND to_id = 'S2777'
R4047
S2777
3

UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H05229' AND to_id = 'R4957'
H05229
R4957
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4957' AND to_id = 'H06172'
R4957
H06172
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H06172' AND to_id = 'S4897'
H06172
S4897
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4897' AND to_id = 'S4551'
S4897
S4551
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4551' AND to_id = 'H06219'
S4551
H06219
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2499' AND to_id = 'S0106'
S2499
S0106
2
==換 marzner 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0185' AND to_id = 'S0100'
S0185
S0100
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0100' AND to_id = 'H00074'
S0100
H00074
3
==換 Peter M 囉==
==換 나연아 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0034' AND to_id = 'S0194'
R0034
S0194
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0194' AND to_id = 'S0100'
S0194
S0100
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0100' AND to_id = 'S0107'
S0100
S0107
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0107' AND to_id = 'S0174'
S0107
S0174
7
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0174' AND to_id = 'H00654'
S0174
H00654
3
==換 travel momomo 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0144' AND to_id = 'R0145'
R0144
R0145
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0145' AND to_id = 'R0146'
R0145
R0146
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0146' AND to_id = 'H15083'
R0146
H15083
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H15083' AND to_id = 'S7274'
H15083
S7274
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7274' AND to_id = 'R0147'
S7274
R0147
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0147' AND to_id = 'R0148'
R0147
R0148
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0148' AND to_id = 'S1949'
R0148
S1949
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S1949' AND to_id = 'S0128'
S1949
S0128
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0128' AND to_id = 'S0160'
S0128
S0160
6
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0160' AND to_id = 'S0100'
S0160
S0100
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0100' AND to_id = 'S0185'
S0100
S0185
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0144' AND to_id = 'R0145'
R0144
R0145
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0145' AND to_id = 'R0146'
R0145
R0146
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0146' AND to_id = 'H15083'
R0146
H15083
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H15083' AND to_id = 'S7274'
H15083
S7274
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7274' AND to_id = 'R0147'
S7274
R0147
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0147' AND to_id = 'R0148'
R0147
R0148
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0148' AND to_id = 'S1949'
R0148
S1949
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1949' AND to_id = 'S0128'
S1949
S0128
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0128' AND to_id = 'S0160'
S0128
S0160
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0160' AND to_id = 'S0100'
S0160
S0100
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0100' AND to_id = 'S0185'
S0100
S0185
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H00090' AND to_id = 'S0135'
H00090
S0135
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0135' AND to_id = 'S5767'
S0135
S5767
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5767' AND to_id = 'S5780'
S5767
S5780
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5780' AND to_id = 'S5762'
S5780
S5762
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5762' AND to_id = 'S5738'
S5762
S5738
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5738' AND to_id = 'S5741'
S5738
S5741
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5741' AND to_id = 'S5799'
S5741
S5799
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5799' AND to_id = 'S5772'
S5799
S5772
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5772' AND to_id = 'S5750'
S5772
S5750
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5750' AND to_id = 'S5763'
S5750
S5763
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5763' AND to_id = 'S5754'
S5763
S5754
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S5754' AND to_id = 'S0823'
S5754
S0823
6
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0823' AND to_id = 'S0918'
S0823
S0918
9
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0918' AND to_id = 'H00090'
S0918
H00090
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H00090' AND to_id = 'S0135'
H00090
S0135
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0135' AND to_id = 'S5767'
S0135
S5767
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5767' AND to_id = 'S5780'
S5767
S5780
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5780' AND to_id = 'S5762'
S5780
S5762
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5762' AND to_id = 'S5738'
S5762
S5738
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5738' AND to_id = 'S5741'
S5738
S5741
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5741' AND to_id = 'S5799'
S5741
S5799
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5799' AND to_id = 'S5772'
S5799
S5772
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5772' AND to_id = 'S5750'
S5772
S5750
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5750' AND to_id = 'S5763'
S5750
S5763
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5763' AND to_id = 'S5754'
S5763
S5754
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S5754' AND to_id = 'S0823'
S5754
S0823
7
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0823' AND to_id = 'S0918'
S0823
S0918
10
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0918' AND to_id = 'H00090'
S0918
H00090
6
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'H00090' AND to_id = 'S0135'
H00090
S0135
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0135' AND to_id = 'S5767'
S0135
S5767
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5767' AND to_id = 'S5780'
S5767
S5780
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5780' AND to_id = 'S5762'
S5780
S5762
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5762' AND to_id = 'S5738'
S5762
S5738
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5738' AND to_id = 'S5741'
S5738
S5741
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5741' AND to_id = 'S5799'
S5741
S5799
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5799' AND to_id = 'S5772'
S5799
S5772
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5772' AND to_id = 'S5750'
S5772
S5750
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5750' AND to_id = 'S5763'
S5750
S5763
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5763' AND to_id = 'S5754'
S5763
S5754
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5754' AND to_id = 'S0823'
S5754
S0823
8
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0823' AND to_id = 'S0918'
S0823
S0918
11
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0918' AND to_id = 'H00090'
S0918
H00090
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'H00090' AND to_id = 'S0135'
H00090
S0135
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0135' AND to_id = 'S5767'
S0135
S5767
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S5767' AND to_id = 'S5780'
S5767
S5780
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5780' AND to_id = 'S5762'
S5780
S5762
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5762' AND to_id = 'S5738'
S5762
S5738
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5738' AND to_id = 'S5741'

S5738
S5741
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5741' AND to_id = 'S5799'
S5741
S5799
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5799' AND to_id = 'S5772'
S5799
S5772
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5772' AND to_id = 'S5750'
S5772
S5750
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5750' AND to_id = 'S5763'
S5750
S5763
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5763' AND to_id = 'S5754'
S5763
S5754
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5754' AND to_id = 'S0823'
S5754
S0823
9
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0823' AND to_id = 'S0918'
S0823
S0918
12
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7449' AND to_id = 'H03716'
S7449
H03716
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H03716' AND to_id = 'S3834'
H03716
S3834
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S3834' AND to_id = 'S7326'
S3834
S7326
5
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0118' AND to_id = 'S0166'
S0118
S0166
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0166' AND to_id = 'S3927'
S0166
S3927
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S3927' AND to_id = 'S4169'
S3927
S4169
3
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4169' AND to_id = 'S4125'
S4169
S4125
10
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4125' AND to_id = 'S4124'
S4125
S4124
13
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4124' AND to_id = 'S4268'
S4124
S4268
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0118' AND to_id = 'S0166'
S0118
S0166
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0166' AND to_id = 'S3927'
S0166
S3927
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S3927' AND to_id = 'S4169'
S3927
S4169
4
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4169' AND to_id = 'S4125'
S4169
S4125
11
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S4125' AND to_id = 'S4124'
S4125
S4124
14
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4124' AND to_id = 'S4268'
S4124
S4268
4
==換 ahliao 囉==
==換 Jenny W 囉==
==換 Isabella L 囉==
==換 hsioufon 囉==
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0101' AND to_id = 'R0035'
S0101
R0035
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0035' AND to_id = 'R0036'
R0035
R0036
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0036' AND to_id = 'S0162'
R0036
S0162
7
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0162' AND to_id = 'S0142'
S0162
S0142
11
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0142' AND to_id = 'S0221'
S0142
S0221
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0221' AND to_id = 'S0287'
S0221
S0287
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0287' AND to_id = 'S0135'
S0287
S0135
9
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0135' AND to_id = 'R0037'
S0135
R0037
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0037' AND to_id = 'R0038'
R0037
R0038
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0038' AND to_id = 'R0039'
R0038
R0039
7
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0114' AND to_id = 'S0138'
S0114
S0138
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0138' AND to_id = 'S0720'
S0138
S0720
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0720' AND to_id = 'S0101'
S0720
S0101
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0101' AND to_id = 'R0035'
S0101
R0035
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0035' AND to_id = 'R0036'
R0035
R0036
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0036' AND to_id = 'S0162'
R0036
S0162
8
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0162' AND to_id = 'S0142'
S0162
S0142
12
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0142' AND to_id = 'S0221'
S0142
S0221
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0221' AND to_id = 'S0287'
S0221
S0287
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0287' AND to_id = 'S0135'
S0287
S0135
10
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0135' AND to_id = 'R0037'
S0135
R0037
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0037' AND to_id = 'R0038'
R0037
R0038
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0038' AND to_id = 'R0039'
R0038
R0039
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0101' AND to_id = 'R0035'
S0101
R0035
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0035' AND to_id = 'R0036'
R0035
R0036
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0036' AND to_id = 'S0162'
R0036
S0162
9
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0162' AND to_id = 'S0142'
S0162
S0142
13
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0142' AND to_id = 'S0221'
S0142
S0221
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0221' AND to_id = 'S0287'
S0221
S0287
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0287' AND to_id = 'S0135'
S0287
S0135
11
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0135' AND to_id = 'R0037'
S0135
R0037
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0037' AND to_id = 'R0038'
R0037
R0038
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0038' AND to_id = 'R0039'
R0038
R0039
9
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0039' AND to_id = 'S0101'
R0039
S0101
4
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0101' AND to_id = 'R0035'
S0101
R0035
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0035' AND to_id = 'R0036'
R0035
R0036
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0036' AND to_id = 'S0162'
R0036
S0162
10
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0162' AND to_id = 'S0142'
S0162
S0142
14
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0142' AND to_id = 'S0221'
S0142
S0221
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0221' AND to_id = 'S0287'
S0221
S0287
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0287' AND to_id = 'S0135'
S0287
S0135
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0135' AND to_id = 'R0037'
S0135
R0037
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0037' AND to_id = 'R0038'
R0037
R0038
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0038' AND to_id = 'R0039'
R0038
R0039
10
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0039' AND to_id = 'S0101'
R0039
S0101
5
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0101' AND to_id = 'R0035'
S0101
R0035
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0035' AND to_id = 'R0036'
R0035
R0036
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0036' AND to_id = 'S0162'
R0036
S0162
11
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0162' AND to_id = 'S0142'
S0162
S0142
15
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0142' AND to_id = 'S0221'
S0142
S0221
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0221' AND to_id = 'S0287'
S0221
S0287
11
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0287' AND to_id = 'S0135'
S0287
S0135
13
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0135' AND to_id = 'R0037'
S0135
R0037
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0037' AND to_id = 'R0038'
R0037
R0038
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0038' AND to_id = 'R0039'
R0038
R0039
11
==換 Shan Ho 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0117' AND to_id = 'R0083'
S0117
R0083
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0083' AND to_id = 'S0153'
R0083
S0153
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0153' AND to_id = 'R0243'
S0153
R0243
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0243' AND to_id = 'R1101'

R0243
R1101
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1101' AND to_id = 'R0117'
R1101
R0117
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0117' AND to_id = 'R1102'
R0117
R1102
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1102' AND to_id = 'R0707'
R1102
R0707
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0221' AND to_id = 'S0101'
S0221
S0101
8
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0101' AND to_id = 'H15084'
S0101
H15084
5
==換 runningboy01 囉==
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0120' AND to_id = 'R0040'
S0120
R0040
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0040' AND to_id = 'S0817'
R0040
S0817
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0817' AND to_id = 'H15085'
S0817
H15085
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H15085' AND to_id = 'H01315'
H15085
H01315
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H01315' AND to_id = 'S0814'
H01315
S0814
5
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0814' AND to_id = 'S0101'
S0814
S0101
9
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0120' AND to_id = 'R0040'
S0120
R0040
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0040' AND to_id = 'S0817'
R0040
S0817
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0817' AND to_id = 'H15085'
S0817
H15085
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H15085' AND to_id = 'H01315'
H15085
H01315
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H01315' AND to_id = 'S0814'
H01315
S0814
6
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0814' AND to_id = 'S0101'
S0814
S0101
10
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0101' AND to_id = 'S0120'
S0101
S0120
3
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0120' AND to_id = 'R0040'
S0120
R0040
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0040' AND to_id = 'S0817'
R0040
S0817
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0817' AND to_id = 'H15085'
S0817
H15085
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H15085' AND to_id = 'H01315'
H15085
H01315
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H01315' AND to_id = 'S0814'
H01315
S0814
7
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0814' AND to_id = 'S0101'
S0814
S0101
11
==換 Yali Chen 囉==
==換 Gillianlian123 囉==
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0102' AND to_id = 'S0101'
S0102
S0101
16
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0101' AND to_id = 'R0037'
S0101
R0037
12
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0037' AND to_id = 'S0162'
R0037
S0162
9
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0162' AND to_id = 'S0135'
S0162
S0135
14
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0135' AND to_id = 'S0113'
S0135
S0113
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0113' AND to_id = 'R0046'
S0113
R0046
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0046' AND to_id = 'S0115'
R0046
S0115
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0115' AND to_id = 'S0102'
S0115
S0102
6
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0102' AND to_id = 'S0101'
S0102
S0101
17
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0101' AND to_id = 'R0037'
S0101
R0037
13
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0037' AND to_id = 'S0162'
R0037
S0162
10
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0162' AND to_id = 'S0135'
S0162
S0135
15
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0135' AND to_id = 'S0113'
S0135
S0113
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0113' AND to_id = 'R0046'
S0113
R0046
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0046' AND to_id = 'S0115'
R0046
S0115
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0115' AND to_id = 'S0102'
S0115
S0102
7
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0102' AND to_id = 'S0101'
S0102
S0101
18
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0101' AND to_id = 'R0037'
S0101
R0037
14
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0037' AND to_id = 'S0162'
R0037
S0162
11
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0162' AND to_id = 'S0135'
S0162
S0135
16
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0135' AND to_id = 'S0113'
S0135
S0113
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0113' AND to_id = 'R0046'
S0113
R0046
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0046' AND to_id = 'S0115'
R0046
S0115
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0115' AND to_id = 'S0102'
S0115
S0102
8
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0102' AND to_id = 'S0101'
S0102
S0101
19
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0101' AND to_id = 'R0037'
S0101
R0037
15
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0037' AND to_id = 'S0162'
R0037
S0162
12
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0162' AND to_id = 'S0135'
S0162
S0135
17
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0135' AND to_id = 'S0113'
S0135
S0113
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0113' AND to_id = 'R0046'
S0113
R0046
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0046' AND to_id = 'S0115'
R0046
S0115
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0115' AND to_id = 'S0102'
S0115
S0102
9
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0102' AND to_id = 'S0101'
S0102
S0101
20
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0101' AND to_id = 'R0037'
S0101
R0037
16
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0037' AND to_id = 'S0162'
R0037
S0162
13
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0162' AND to_id = 'S0135'
S0162
S0135
18
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0135' AND to_id = 'S0113'
S0135
S0113
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0113' AND to_id = 'R0046'
S0113
R0046
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0046' AND to_id = 'S0115'
R0046
S0115
11
==換 愛麗絲 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0283' AND to_id = 'S0287'
S0283
S0287
4
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0287' AND to_id = 'S0101'
S0287
S0101
7
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0101' AND to_id = 'S0253'
S0101
S0253
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0283' AND to_id = 'S0287'
S0283
S0287
5
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0287' AND to_id = 'S0101'
S0287
S0101
8
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0101' AND to_id = 'S0253'
S0101
S0253
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5653' AND to_id = 'S5588'
S5653
S5588
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5588' AND to_id = 'S5538'
S5588
S5538
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5538' AND to_id = 'S5511'
S5538
S5511
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5511' AND to_id = 'S5512'
S5511
S5512
3
==換 ElaineWei 囉==
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0101' AND to_id = 'S7279'
S0101
S7279
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7279' AND to_id = 'S7280'
S7279
S7280
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7280' AND to_id = 'S0176'
S7280
S0176
10
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0176' AND to_id = 'S0113'
S0176
S0113
20
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0113' AND to_id = 'S0230'
S0113
S0230
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0230' AND to_id = 'S7281'
S0230
S7281
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7281' AND to_id = 'S1148'
S7281
S1148
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S1148' AND to_id = 'S0813'
S1148
S0813
8
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0813' AND to_id = 'S0236'
S0813
S0236
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0236' AND to_id = 'S7282'
S0236

S7282
10
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7282' AND to_id = 'S7283'
S7282
S7283
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7283' AND to_id = 'S1641'
S7283
S1641
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S1641' AND to_id = 'S0327'
S1641
S0327
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0327' AND to_id = 'S0276'
S0327
S0276
8
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0276' AND to_id = 'S0103'
S0276
S0103
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0103' AND to_id = 'S7293'
S0103
S7293
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7293' AND to_id = 'S7294'
S7293
S7294
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7294' AND to_id = 'S7295'
S7294
S7295
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7295' AND to_id = 'S7296'
S7295
S7296
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7296' AND to_id = 'S0116'
S7296
S0116
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0290' AND to_id = 'S0143'
S0290
S0143
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0143' AND to_id = 'S0295'
S0143
S0295
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0295' AND to_id = 'S7276'
S0295
S7276
5
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S7276' AND to_id = 'S0118'
S7276
S0118
14
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0101' AND to_id = 'S7279'
S0101
S7279
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7279' AND to_id = 'S7280'
S7279
S7280
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7280' AND to_id = 'S0176'
S7280
S0176
11
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0176' AND to_id = 'S0113'
S0176
S0113
21
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0113' AND to_id = 'S0230'
S0113
S0230
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0230' AND to_id = 'S7281'
S0230
S7281
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7281' AND to_id = 'S1148'
S7281
S1148
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S1148' AND to_id = 'S0813'
S1148
S0813
9
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0813' AND to_id = 'S0236'
S0813
S0236
13
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0236' AND to_id = 'S7282'
S0236
S7282
11
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7282' AND to_id = 'S7283'
S7282
S7283
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7283' AND to_id = 'S1641'
S7283
S1641
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S1641' AND to_id = 'S0327'
S1641
S0327
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0327' AND to_id = 'S0276'
S0327
S0276
9
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0283' AND to_id = 'S0135'
S0283
S0135
7
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0135' AND to_id = 'S0253'
S0135
S0253
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0253' AND to_id = 'S0283'
S0253
S0283
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0290' AND to_id = 'S0143'
S0290
S0143
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0143' AND to_id = 'S0295'
S0143
S0295
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0295' AND to_id = 'S7276'
S0295
S7276
6
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S7276' AND to_id = 'S0118'
S7276
S0118
15
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0290' AND to_id = 'S0143'
S0290
S0143
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0143' AND to_id = 'S0295'
S0143
S0295
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0295' AND to_id = 'S7276'
S0295
S7276
7
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S7276' AND to_id = 'S0118'
S7276
S0118
16
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0101' AND to_id = 'S7279'
S0101
S7279
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7279' AND to_id = 'S7280'
S7279
S7280
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7280' AND to_id = 'S0176'
S7280
S0176
12
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0176' AND to_id = 'S0113'
S0176
S0113
22
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0113' AND to_id = 'S0230'
S0113
S0230
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0230' AND to_id = 'S7281'
S0230
S7281
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7281' AND to_id = 'S1148'
S7281
S1148
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S1148' AND to_id = 'S0813'
S1148
S0813
10
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0813' AND to_id = 'S0236'
S0813
S0236
14
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0236' AND to_id = 'S7282'
S0236
S7282
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7282' AND to_id = 'S7283'
S7282
S7283
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7283' AND to_id = 'S1641'
S7283
S1641
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S1641' AND to_id = 'S0327'
S1641
S0327
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0327' AND to_id = 'S0276'
S0327
S0276
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0101' AND to_id = 'S7279'
S0101
S7279
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7279' AND to_id = 'S7280'
S7279
S7280
11
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7280' AND to_id = 'S0176'
S7280
S0176
13
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0176' AND to_id = 'S0113'
S0176
S0113
23
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0113' AND to_id = 'S0230'
S0113
S0230
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0230' AND to_id = 'S7281'
S0230
S7281
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7281' AND to_id = 'S1148'
S7281
S1148
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S1148' AND to_id = 'S0813'
S1148
S0813
11
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0813' AND to_id = 'S0236'
S0813
S0236
15
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0236' AND to_id = 'S7282'
S0236
S7282
13
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7282' AND to_id = 'S7283'
S7282
S7283
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7283' AND to_id = 'S1641'
S7283
S1641
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S1641' AND to_id = 'S0327'
S1641
S0327
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0327' AND to_id = 'S0276'
S0327
S0276
11
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0276' AND to_id = 'S0101'
S0276
S0101
4
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0101' AND to_id = 'S7279'
S0101
S7279
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7279' AND to_id = 'S7280'
S7279
S7280
12
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S7280' AND to_id = 'S0176'
S7280
S0176
14
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0176' AND to_id = 'S0113'
S0176
S0113
24
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0113' AND to_id = 'S0230'
S0113
S0230
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0230' AND to_id = 'S7281'
S0230
S7281
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7281' AND to_id = 'S1148'
S7281
S1148
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S1148' AND to_id = 'S0813'
S1148
S0813
12
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0813' AND to_id = 'S0236'
S0813
S0236
16
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0236' AND to_id = 'S7282'
S0236
S7282
14
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7282' AND to_id = 'S7283'
S7282
S7283
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7283' AND to_id = 'S1641'
S7283
S1641
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S1641' AND to_id = 'S0327'
S1641
S0327
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0327' AND to_id = 'S0276'
S0327
S0276
12
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0276' AND to_id = 'S0101'
S0276
S0101
5

UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0101' AND to_id = 'S7279'
S0101
S7279
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7279' AND to_id = 'S7280'
S7279
S7280
13
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S7280' AND to_id = 'S0176'
S7280
S0176
15
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S0176' AND to_id = 'S0113'
S0176
S0113
25
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0113' AND to_id = 'S0230'
S0113
S0230
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0230' AND to_id = 'S7281'
S0230
S7281
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7281' AND to_id = 'S1148'
S7281
S1148
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S1148' AND to_id = 'S0813'
S1148
S0813
13
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0813' AND to_id = 'S0236'
S0813
S0236
17
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0236' AND to_id = 'S7282'
S0236
S7282
15
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7282' AND to_id = 'S7283'
S7282
S7283
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7283' AND to_id = 'S1641'
S7283
S1641
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S1641' AND to_id = 'S0327'
S1641
S0327
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0327' AND to_id = 'S0276'
S0327
S0276
13
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7568' AND to_id = 'S2499'
S7568
S2499
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2499' AND to_id = 'S2489'
S2499
S2489
4
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2489' AND to_id = 'S2492'
S2489
S2492
8
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2492' AND to_id = 'S7568'
S2492
S7568
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7568' AND to_id = 'S2499'
S7568
S2499
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2499' AND to_id = 'S2489'
S2499
S2489
5
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2489' AND to_id = 'S2492'
S2489
S2492
9
==換 Eason 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2780' AND to_id = 'S4167'
S2780
S4167
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S4167' AND to_id = 'S7364'
S4167
S7364
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7364' AND to_id = 'R0539'
S7364
R0539
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0539' AND to_id = 'R0540'
R0539
R0540
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0540' AND to_id = 'S0115'
R0540
S0115
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0115' AND to_id = 'S0207'
S0115
S0207
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0207' AND to_id = 'S7110'
S0207
S7110
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7110' AND to_id = 'R0541'
S7110
R0541
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2780' AND to_id = 'S4167'
S2780
S4167
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4167' AND to_id = 'S7364'
S4167
S7364
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7364' AND to_id = 'R0539'
S7364
R0539
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0539' AND to_id = 'R0540'
R0539
R0540
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0540' AND to_id = 'S0115'
R0540
S0115
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0115' AND to_id = 'S0207'
S0115
S0207
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0207' AND to_id = 'S7110'
S0207
S7110
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7110' AND to_id = 'R0541'
S7110
R0541
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2780' AND to_id = 'S4167'
S2780
S4167
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4167' AND to_id = 'S7364'
S4167
S7364
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7364' AND to_id = 'R0539'
S7364
R0539
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0539' AND to_id = 'R0540'
R0539
R0540
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0540' AND to_id = 'S0115'
R0540
S0115
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0115' AND to_id = 'S0207'
S0115
S0207
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0207' AND to_id = 'S7110'
S0207
S7110
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7110' AND to_id = 'R0541'
S7110
R0541
4
==換 YSFu 囉==
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0814' AND to_id = 'S0823'
S0814
S0823
10
==換 Travellps 囉==
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0101' AND to_id = 'S0159'
S0101
S0159
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0159' AND to_id = 'S1203'
S0159
S1203
3
==換 Chin Chen 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5794' AND to_id = 'S0149'
S5794
S0149
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0149' AND to_id = 'R0048'
S0149
R0048
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0048' AND to_id = 'R0049'
R0048
R0049
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0049' AND to_id = 'S0101'
R0049
S0101
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0101' AND to_id = 'R0050'
S0101
R0050
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0050' AND to_id = 'R0051'
R0050
R0051
4
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0051' AND to_id = 'R0038'
R0051
R0038
12
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0038' AND to_id = 'R0052'
R0038
R0052
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0052' AND to_id = 'S5794'
R0052
S5794
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5794' AND to_id = 'S0149'
S5794
S0149
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0149' AND to_id = 'R0048'
S0149
R0048
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0048' AND to_id = 'R0049'
R0048
R0049
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0049' AND to_id = 'S0101'
R0049
S0101
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0101' AND to_id = 'R0050'
S0101
R0050
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0050' AND to_id = 'R0051'
R0050
R0051
5
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0051' AND to_id = 'R0038'
R0051
R0038
13
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0038' AND to_id = 'R0052'
R0038
R0052
5
==換 Dom Toretto 囉==
==換 niki tsai 囉==
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0287' AND to_id = 'S0101'
S0287
S0101
9
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0101' AND to_id = 'H15084'
S0101
H15084
6
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0287' AND to_id = 'S0101'
S0287
S0101
10
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0101' AND to_id = 'H15084'
S0101
H15084
7
==換 h1234485 囉==
==換 董漢忠 囉==
==換 aya 囉==
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0150' AND to_id = 'S0470'
S0150
S0470
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0470' AND to_id = 'R0149'
S0470
R0149
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0149' AND to_id = 'S0110'
R0149
S0110
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0110' AND to_id = 'S0219'
S0110
S0219
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0219' AND to_id = 'S0345'
S0219
S0345
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0345' AND to_id = 'R0150'
S0345
R0150
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0150' AND to_id = 'S0101'
R0150
S0101
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0101' AND to_id = 'S0150'
S0101
S0150
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0150' AND to_id = 'S0470'
S0150
S0470
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0470' AND to_id = 'R0149'
S0470
R0149
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0149' AND to_id = 'S0110'
R0149
S0110
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0110' AND to_id = 'S0219'
S0110
S0219
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0219' AND to_id = 'S0345'

S0219
S0345
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0345' AND to_id = 'R0150'
S0345
R0150
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0150' AND to_id = 'S0101'
R0150
S0101
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0101' AND to_id = 'S0150'
S0101
S0150
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0150' AND to_id = 'S0470'
S0150
S0470
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0470' AND to_id = 'R0149'
S0470
R0149
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0149' AND to_id = 'S0110'
R0149
S0110
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0110' AND to_id = 'S0219'
S0110
S0219
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0219' AND to_id = 'S0345'
S0219
S0345
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0345' AND to_id = 'R0150'
S0345
R0150
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0150' AND to_id = 'S0101'
R0150
S0101
7
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6955' AND to_id = 'S0308'
S6955
S0308
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0308' AND to_id = 'S0884'
S0308
S0884
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0884' AND to_id = 'H02633'
S0884
H02633
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H02633' AND to_id = 'H15114'
H02633
H15114
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H15114' AND to_id = 'S7328'
H15114
S7328
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7328' AND to_id = 'S7432'
S7328
S7432
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7432' AND to_id = 'S7026'
S7432
S7026
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7026' AND to_id = 'S6955'
S7026
S6955
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6955' AND to_id = 'S0308'
S6955
S0308
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0308' AND to_id = 'S0884'
S0308
S0884
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0884' AND to_id = 'H02633'
S0884
H02633
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H02633' AND to_id = 'H15114'
H02633
H15114
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H15114' AND to_id = 'S7328'
H15114
S7328
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7328' AND to_id = 'S7432'
S7328
S7432
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7432' AND to_id = 'S7026'
S7432
S7026
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4144' AND to_id = 'S4225'
S4144
S4225
8
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S4225' AND to_id = 'S4295'
S4225
S4295
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4295' AND to_id = 'S4174'
S4295
S4174
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4174' AND to_id = 'R4212'
S4174
R4212
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R4212' AND to_id = 'S7271'
R4212
S7271
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7271' AND to_id = 'S4144'
S7271
S4144
3
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4144' AND to_id = 'S4225'
S4144
S4225
9
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S4225' AND to_id = 'S4295'
S4225
S4295
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S4295' AND to_id = 'S4174'
S4295
S4174
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S4174' AND to_id = 'R4212'
S4174
R4212
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R4212' AND to_id = 'S7271'
R4212
S7271
5
==換 TechMarauder 囉==
==換 chuang,ming-i 囉==
==換 Wawa 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0010' AND to_id = 'R0151'
R0010
R0151
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0151' AND to_id = 'R0152'
R0151
R0152
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0152' AND to_id = 'R0153'
R0152
R0153
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0153' AND to_id = 'S0106'
R0153
S0106
4
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0106' AND to_id = 'S0101'
S0106
S0101
23
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0101' AND to_id = 'S0188'
S0101
S0188
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0188' AND to_id = 'R0154'
S0188
R0154
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0154' AND to_id = 'S0156'
R0154
S0156
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S0156' AND to_id = 'R0155'
S0156
R0155
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0155' AND to_id = 'S0720'
R0155
S0720
4
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
10
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
10
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
8
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
15
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
8
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
2
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
7
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
2
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
9
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
2
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
7

UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
9
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
10
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0494' AND to_id = 'S7369'
R0494
S7369
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7369' AND to_id = 'S7029'
S7369
S7029
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7029' AND to_id = 'S7056'
S7029
S7056
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7056' AND to_id = 'R0336'
S7056
R0336
3
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
11
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0337' AND to_id = 'R0338'
R0337
R0338
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0338' AND to_id = 'S7370'
R0338
S7370
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7370' AND to_id = 'R0333'
S7370
R0333
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0333' AND to_id = 'R0332'
R0333
R0332
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0332' AND to_id = 'S7037'
R0332
S7037
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7037' AND to_id = 'R0631'
S7037
R0631
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0631' AND to_id = 'R0632'
R0631
R0632
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0632' AND to_id = 'R0633'
R0632
R0633
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0633' AND to_id = 'S0124'
R0633
S0124
2
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0124' AND to_id = 'S0122'
S0124
S0122
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0122' AND to_id = 'S0116'
S0122
S0116
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0116' AND to_id = 'S0244'
S0116
S0244
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0244' AND to_id = 'S0204'
S0244
S0204
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0204' AND to_id = 'R0205'
S0204
R0205
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0205' AND to_id = 'S0143'
R0205
S0143
8
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0143' AND to_id = 'R0494'
S0143
R0494
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0494' AND to_id = 'S7369'
R0494
S7369
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7369' AND to_id = 'S7029'
S7369
S7029
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7029' AND to_id = 'S7056'
S7029
S7056
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7056' AND to_id = 'R0336'
S7056
R0336
4
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
12
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0337' AND to_id = 'R0338'
R0337
R0338
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0338' AND to_id = 'S7370'
R0338
S7370
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7370' AND to_id = 'R0333'
S7370
R0333
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0333' AND to_id = 'R0332'
R0333
R0332
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0332' AND to_id = 'S7037'
R0332
S7037
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7037' AND to_id = 'R0631'
S7037
R0631
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0631' AND to_id = 'R0632'
R0631
R0632
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0632' AND to_id = 'R0633'
R0632
R0633
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0633' AND to_id = 'S0124'
R0633
S0124
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0124' AND to_id = 'S0122'
S0124
S0122
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0122' AND to_id = 'S0116'
S0122
S0116
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0116' AND to_id = 'S0244'
S0116
S0244
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0244' AND to_id = 'S0204'
S0244
S0204
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0204' AND to_id = 'R0205'
S0204
R0205
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0205' AND to_id = 'S0143'
R0205
S0143
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
11
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
11
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
9
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
16
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
9
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0310' AND to_id = 'R0156'

R0310
R0156
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
8
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
3
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
10
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
8
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
13
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
10
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6968' AND to_id = 'R0494'
S6968
R0494
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0494' AND to_id = 'S7369'
R0494
S7369
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7369' AND to_id = 'S7029'
S7369
S7029
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7029' AND to_id = 'S7056'
S7029
S7056
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7056' AND to_id = 'R0336'
S7056
R0336
5
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
14
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0337' AND to_id = 'R0338'
R0337
R0338
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0338' AND to_id = 'S7370'
R0338
S7370
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7370' AND to_id = 'R0333'
S7370
R0333
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0333' AND to_id = 'R0332'
R0333
R0332
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0332' AND to_id = 'S7037'
R0332
S7037
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7037' AND to_id = 'R0631'
S7037
R0631
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0631' AND to_id = 'R0632'
R0631
R0632
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0632' AND to_id = 'R0633'
R0632
R0633
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0633' AND to_id = 'S0124'
R0633
S0124
4
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0124' AND to_id = 'S0122'
S0124
S0122
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0122' AND to_id = 'S0116'
S0122
S0116
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0116' AND to_id = 'S0244'
S0116
S0244
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0244' AND to_id = 'S0204'
S0244
S0204
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0204' AND to_id = 'R0205'
S0204
R0205
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0205' AND to_id = 'S0143'
R0205
S0143
10
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0010' AND to_id = 'R0151'
R0010
R0151
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0151' AND to_id = 'R0152'
R0151
R0152
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0152' AND to_id = 'R0153'
R0152
R0153
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0153' AND to_id = 'S0106'
R0153
S0106
5
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0106' AND to_id = 'S0101'
S0106
S0101
24
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0101' AND to_id = 'S0188'
S0101
S0188
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0188' AND to_id = 'R0154'
S0188
R0154
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0154' AND to_id = 'S0156'
R0154
S0156
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0156' AND to_id = 'R0155'
S0156
R0155
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0155' AND to_id = 'S0720'
R0155
S0720
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0720' AND to_id = 'S0216'
S0720
S0216
3
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0028' AND to_id = 'S0109'

R0028
S0109
10
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
17
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
10
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
4
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
9
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
4
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
11
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
4
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
9
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
15
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
11
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6968' AND to_id = 'R0494'
S6968
R0494
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0494' AND to_id = 'S7369'
R0494
S7369
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7369' AND to_id = 'S7029'
S7369
S7029
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7029' AND to_id = 'S7056'
S7029
S7056
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7056' AND to_id = 'R0336'
S7056
R0336
6
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
16
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0337' AND to_id = 'R0338'
R0337
R0338
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0338' AND to_id = 'S7370'
R0338
S7370
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7370' AND to_id = 'R0333'
S7370
R0333
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0333' AND to_id = 'R0332'
R0333
R0332
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0332' AND to_id = 'S7037'
R0332
S7037
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7037' AND to_id = 'R0631'
S7037
R0631
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0631' AND to_id = 'R0632'
R0631
R0632
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0632' AND to_id = 'R0633'
R0632
R0633
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0633' AND to_id = 'S0124'
R0633
S0124
5
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0124' AND to_id = 'S0122'
S0124
S0122
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0122' AND to_id = 'S0116'
S0122
S0116
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0116' AND to_id = 'S0244'
S0116
S0244
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0244' AND to_id = 'S0204'
S0244
S0204
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0204' AND to_id = 'R0205'
S0204
R0205
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0205' AND to_id = 'S0143'
R0205
S0143
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
11
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
13
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
11
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
13
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
11
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
18
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
11

UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
11
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
5
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
10
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
5
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
12
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
5
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
10
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
17
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
12
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0494' AND to_id = 'S7369'
R0494
S7369
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7369' AND to_id = 'S7029'
S7369
S7029
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7029' AND to_id = 'S7056'
S7029
S7056
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7056' AND to_id = 'R0336'
S7056
R0336
7
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
18
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0337' AND to_id = 'R0338'
R0337
R0338
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0338' AND to_id = 'S7370'
R0338
S7370
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7370' AND to_id = 'R0333'
S7370
R0333
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0333' AND to_id = 'R0332'
R0333
R0332
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0332' AND to_id = 'S7037'
R0332
S7037
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7037' AND to_id = 'R0631'
S7037
R0631
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0631' AND to_id = 'R0632'
R0631
R0632
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0632' AND to_id = 'R0633'
R0632
R0633
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0633' AND to_id = 'S0124'
R0633
S0124
6
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0124' AND to_id = 'S0122'
S0124
S0122
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0122' AND to_id = 'S0116'
S0122
S0116
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0116' AND to_id = 'S0244'
S0116
S0244
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0244' AND to_id = 'S0204'
S0244
S0204
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0204' AND to_id = 'R0205'
S0204
R0205
11
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0205' AND to_id = 'S0143'
R0205
S0143
12
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0143' AND to_id = 'S0216'
S0143
S0216
3
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
12
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
14
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
12
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
14
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
12
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
19
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
12
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H15101' AND to_id = 'R0308'

H15101
R0308
6
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
11
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
11
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
6
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
13
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
6
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
11
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
11
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
19
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
11
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
13
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2489' AND to_id = 'R1986'
S2489
R1986
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1986' AND to_id = 'S1072'
R1986
S1072
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S1072' AND to_id = 'S7480'
S1072
S7480
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7480' AND to_id = 'S7481'
S7480
S7481
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7481' AND to_id = 'R0780'
S7481
R0780
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0780' AND to_id = 'S7453'
R0780
S7453
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7453' AND to_id = 'S0884'
S7453
S0884
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0884' AND to_id = 'H01909'
S0884
H01909
6
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H01909' AND to_id = 'R1987'
H01909
R1987
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1987' AND to_id = 'R1988'
R1987
R1988
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1988' AND to_id = 'S0206'
R1988
S0206
2
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S0206' AND to_id = 'R0188'
S0206
R0188
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0188' AND to_id = 'R0103'
R0188
R0103
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0103' AND to_id = 'R0171'
R0103
R0171
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0171' AND to_id = 'R0104'
R0171
R0104
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0104' AND to_id = 'R0206'
R0104
R0206
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0206' AND to_id = 'R0105'
R0206
R0105
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0105' AND to_id = 'H00301'
R0105
H00301
5
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H00301' AND to_id = 'R1989'
H00301
R1989
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1989' AND to_id = 'R1990'
R1989
R1990
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1990' AND to_id = 'R1991'
R1990
R1991
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1991' AND to_id = 'S7482'
R1991
S7482
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7482' AND to_id = 'R0654'
S7482
R0654
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0654' AND to_id = 'H02623'
R0654
H02623
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H02623' AND to_id = 'R1992'
H02623
R1992
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R1992' AND to_id = 'S2813'
R1992
S2813
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2813' AND to_id = 'H02693'
S2813
H02693
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2489' AND to_id = 'R1986'
S2489
R1986
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1986' AND to_id = 'S1072'
R1986
S1072
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S1072' AND to_id = 'S7480'
S1072
S7480
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7480' AND to_id = 'S7481'
S7480
S7481
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7481' AND to_id = 'R0780'
S7481
R0780
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0780' AND to_id = 'S7453'
R0780
S7453
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7453' AND to_id = 'S0884'
S7453
S0884
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0884' AND to_id = 'H01909'
S0884
H01909
7
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H01909' AND to_id = 'R1987'
H01909
R1987
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1987' AND to_id = 'R1988'
R1987
R1988
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1988' AND to_id = 'S0206'
R1988
S0206
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S0206' AND to_id = 'R0188'
S0206
R0188
6

UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0188' AND to_id = 'R0103'
R0188
R0103
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0103' AND to_id = 'R0171'
R0103
R0171
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0171' AND to_id = 'R0104'
R0171
R0104
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0104' AND to_id = 'R0206'
R0104
R0206
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0206' AND to_id = 'R0105'
R0206
R0105
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0105' AND to_id = 'H00301'
R0105
H00301
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H00301' AND to_id = 'R1989'
H00301
R1989
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1989' AND to_id = 'R1990'
R1989
R1990
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1990' AND to_id = 'R1991'
R1990
R1991
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1991' AND to_id = 'S7482'
R1991
S7482
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7482' AND to_id = 'R0654'
S7482
R0654
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0654' AND to_id = 'H02623'
R0654
H02623
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H02623' AND to_id = 'R1992'
H02623
R1992
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1992' AND to_id = 'S2813'
R1992
S2813
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2813' AND to_id = 'H02693'
S2813
H02693
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2489' AND to_id = 'R1986'
S2489
R1986
5
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1986' AND to_id = 'S1072'
R1986
S1072
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S1072' AND to_id = 'S7480'
S1072
S7480
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7480' AND to_id = 'S7481'
S7480
S7481
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7481' AND to_id = 'R0780'
S7481
R0780
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0780' AND to_id = 'S7453'
R0780
S7453
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7453' AND to_id = 'S0884'
S7453
S0884
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0884' AND to_id = 'H01909'
S0884
H01909
8
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H01909' AND to_id = 'R1987'
H01909
R1987
4
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1987' AND to_id = 'R1988'
R1987
R1988
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1988' AND to_id = 'S0206'
R1988
S0206
4
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S0206' AND to_id = 'R0188'
S0206
R0188
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0188' AND to_id = 'R0103'
R0188
R0103
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0103' AND to_id = 'R0171'
R0103
R0171
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0171' AND to_id = 'R0104'
R0171
R0104
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0104' AND to_id = 'R0206'
R0104
R0206
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0206' AND to_id = 'R0105'
R0206
R0105
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0105' AND to_id = 'H00301'
R0105
H00301
7
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H00301' AND to_id = 'R1989'
H00301
R1989
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1989' AND to_id = 'R1990'
R1989
R1990
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1990' AND to_id = 'R1991'
R1990
R1991
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1991' AND to_id = 'S7482'
R1991
S7482
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7482' AND to_id = 'R0654'
S7482
R0654
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0654' AND to_id = 'H02623'
R0654
H02623
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H02623' AND to_id = 'R1992'
H02623
R1992
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1992' AND to_id = 'S2813'
R1992
S2813
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2813' AND to_id = 'H02693'
S2813
H02693
4
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H02693' AND to_id = 'S0216'
H02693
S0216
2
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
13
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
15
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
13
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
15
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
13
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
20
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
13
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
7
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
12
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
12
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
7
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
14
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
7
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0326' AND to_id = 'R0327'

R0326
R0327
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
12
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
12
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
20
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
12
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
14
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6968' AND to_id = 'S2489'
S6968
S2489
2
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2489' AND to_id = 'R1986'
S2489
R1986
6
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R1986' AND to_id = 'S1072'
R1986
S1072
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S1072' AND to_id = 'S7480'
S1072
S7480
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7480' AND to_id = 'S7481'
S7480
S7481
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7481' AND to_id = 'R0780'
S7481
R0780
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0780' AND to_id = 'S7453'
R0780
S7453
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7453' AND to_id = 'S0884'
S7453
S0884
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0884' AND to_id = 'H01909'
S0884
H01909
9
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H01909' AND to_id = 'R1987'
H01909
R1987
5
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1987' AND to_id = 'R1988'
R1987
R1988
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1988' AND to_id = 'S0206'
R1988
S0206
5
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S0206' AND to_id = 'R0188'
S0206
R0188
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0188' AND to_id = 'R0103'
R0188
R0103
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0103' AND to_id = 'R0171'
R0103
R0171
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0171' AND to_id = 'R0104'
R0171
R0104
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0104' AND to_id = 'R0206'
R0104
R0206
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0206' AND to_id = 'R0105'
R0206
R0105
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0105' AND to_id = 'H00301'
R0105
H00301
8
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H00301' AND to_id = 'R1989'
H00301
R1989
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1989' AND to_id = 'R1990'
R1989
R1990
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1990' AND to_id = 'R1991'
R1990
R1991
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1991' AND to_id = 'S7482'
R1991
S7482
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7482' AND to_id = 'R0654'
S7482
R0654
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0654' AND to_id = 'H02623'
R0654
H02623
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H02623' AND to_id = 'R1992'
H02623
R1992
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1992' AND to_id = 'S2813'
R1992
S2813
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2813' AND to_id = 'H02693'
S2813
H02693
5
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H02693' AND to_id = 'S2489'
H02693
S2489
2
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2489' AND to_id = 'R1986'
S2489
R1986
7
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R1986' AND to_id = 'S1072'
R1986
S1072
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S1072' AND to_id = 'S7480'
S1072
S7480
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7480' AND to_id = 'S7481'
S7480
S7481
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7481' AND to_id = 'R0780'
S7481
R0780
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0780' AND to_id = 'S7453'
R0780
S7453
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7453' AND to_id = 'S0884'
S7453
S0884
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0884' AND to_id = 'H01909'
S0884
H01909
10
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H01909' AND to_id = 'R1987'
H01909
R1987
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1987' AND to_id = 'R1988'
R1987
R1988
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1988' AND to_id = 'S0206'
R1988
S0206
6
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S0206' AND to_id = 'R0188'
S0206
R0188
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0188' AND to_id = 'R0103'
R0188
R0103
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0103' AND to_id = 'R0171'
R0103
R0171
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0171' AND to_id = 'R0104'
R0171
R0104
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0104' AND to_id = 'R0206'
R0104
R0206
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0206' AND to_id = 'R0105'
R0206
R0105
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0105' AND to_id = 'H00301'
R0105
H00301
9
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H00301' AND to_id = 'R1989'
H00301
R1989
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1989' AND to_id = 'R1990'
R1989
R1990
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1990' AND to_id = 'R1991'
R1990
R1991
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1991' AND to_id = 'S7482'
R1991
S7482
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7482' AND to_id = 'R0654'
S7482
R0654
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0654' AND to_id = 'H02623'
R0654
H02623
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H02623' AND to_id = 'R1992'
H02623
R1992
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R1992' AND to_id = 'S2813'
R1992
S2813
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2813' AND to_id = 'H02693'
S2813
H02693
6
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H02693' AND to_id = 'S0216'
H02693
S0216
3
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
14
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
16
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
14
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0142' AND to_id = 'S0113'

S0142
S0113
16
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
14
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
21
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
14
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
8
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
13
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
13
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
8
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
15
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
8
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
13
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
13
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
21
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
13
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
15
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6968' AND to_id = 'S2489'
S6968
S2489
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S2489' AND to_id = 'R1986'
S2489
R1986
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R1986' AND to_id = 'S1072'
R1986
S1072
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S1072' AND to_id = 'S7480'
S1072
S7480
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7480' AND to_id = 'S7481'
S7480
S7481
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7481' AND to_id = 'R0780'
S7481
R0780
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0780' AND to_id = 'S7453'
R0780
S7453
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7453' AND to_id = 'S0884'
S7453
S0884
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0884' AND to_id = 'H01909'
S0884
H01909
11
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H01909' AND to_id = 'R1987'
H01909
R1987
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R1987' AND to_id = 'R1988'
R1987
R1988
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1988' AND to_id = 'S0206'
R1988
S0206
7
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0206' AND to_id = 'R0188'
S0206
R0188
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0188' AND to_id = 'R0103'
R0188
R0103
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0103' AND to_id = 'R0171'
R0103
R0171
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0171' AND to_id = 'R0104'
R0171
R0104
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0104' AND to_id = 'R0206'
R0104
R0206
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0206' AND to_id = 'R0105'
R0206
R0105
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0105' AND to_id = 'H00301'
R0105
H00301
10
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H00301' AND to_id = 'R1989'
H00301
R1989
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1989' AND to_id = 'R1990'
R1989
R1990
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1990' AND to_id = 'R1991'
R1990
R1991
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1991' AND to_id = 'S7482'
R1991
S7482
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7482' AND to_id = 'R0654'
S7482
R0654
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0654' AND to_id = 'H02623'
R0654
H02623
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H02623' AND to_id = 'R1992'
H02623
R1992
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R1992' AND to_id = 'S2813'
R1992
S2813
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S2813' AND to_id = 'H02693'
S2813
H02693
7
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R4219' AND to_id = 'S3401'
R4219
S3401
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S3401' AND to_id = 'S3320'
S3401
S3320
6
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S3320' AND to_id = 'S3338'
S3320
S3338
7

UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S3338' AND to_id = 'S3190'
S3338
S3190
15
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S3190' AND to_id = 'S3192'
S3190
S3192
23
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S3192' AND to_id = 'R4219'
S3192
R4219
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R4219' AND to_id = 'S3401'
R4219
S3401
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S3401' AND to_id = 'S3320'
S3401
S3320
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S3320' AND to_id = 'S3338'
S3320
S3338
8
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S3338' AND to_id = 'S3190'
S3338
S3190
16
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S3190' AND to_id = 'S3192'
S3190
S3192
24
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S3192' AND to_id = 'R4219'
S3192
R4219
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R4219' AND to_id = 'S3401'
R4219
S3401
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S3401' AND to_id = 'S3320'
S3401
S3320
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S3320' AND to_id = 'S3338'
S3320
S3338
9
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S3338' AND to_id = 'S3190'
S3338
S3190
17
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S3190' AND to_id = 'S3192'
S3190
S3192
25
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S3192' AND to_id = 'R4219'
S3192
R4219
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R4219' AND to_id = 'S3401'
R4219
S3401
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S3401' AND to_id = 'S3320'
S3401
S3320
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S3320' AND to_id = 'S3338'
S3320
S3338
10
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S3338' AND to_id = 'S3190'
S3338
S3190
18
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S3190' AND to_id = 'S3192'
S3190
S3192
26
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
16
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
15
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
17
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
15
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
17
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
15
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
22
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
15
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
9
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
14
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
17
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
14
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
9
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
16
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
9
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
14
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
14
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
22
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
14
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
16
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S6968' AND to_id = 'S0216'
S6968
S0216
2
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0216' AND to_id = 'S0107'

S0216
S0107
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
16
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
18
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
16
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
18
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
16
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
23
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
16
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
10
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
15
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
18
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
16
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
15
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
10
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
17
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
11
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
10
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
15
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
16
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
15
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
23
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
15
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
15
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
17
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6968' AND to_id = 'S0216'
S6968
S0216
3
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
17
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
19
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
17
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
19
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
17
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
24
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
17
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
11
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
16
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
19
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
17
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
16
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
11

UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
18
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
11
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
12
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
11
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
16
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
17
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
16
UPDATE path_relationship SET d_edge = '24' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
24
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
16
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
16
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
18
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S6972' AND to_id = 'S6978'
S6972
S6978
9
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6978' AND to_id = 'S7089'
S6978
S7089
14
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S7089' AND to_id = 'R0386'
S7089
R0386
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0386' AND to_id = 'H00425'
R0386
H00425
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H00425' AND to_id = 'S4171'
H00425
S4171
2
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4171' AND to_id = 'S4140'
S4171
S4140
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4140' AND to_id = 'S4175'
S4140
S4175
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4175' AND to_id = 'R6022'
S4175
R6022
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R6022' AND to_id = 'S4166'
R6022
S4166
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4166' AND to_id = 'R0540'
S4166
R0540
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0540' AND to_id = 'H05074'
R0540
H05074
8
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
18
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
20
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
18
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
20
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
18
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
25
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
18
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
12
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
17
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
20
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
18
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
17
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
12
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
19
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
12
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
13
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
12
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323

R0324
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
17
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
18
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
17
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
25
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
17
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
17
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
19
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6968' AND to_id = 'S0216'
S6968
S0216
4
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
19
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
21
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
19
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
21
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
21
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
19
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
26
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
19
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
13
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
18
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
21
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
19
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
18
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
13
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
20
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
13
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
14
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
13
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
18
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
19
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
18
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
26
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
18
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
18
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S7329' AND to_id = 'S6968'

S7329
S6968
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0216' AND to_id = 'S0107'
S0216
S0107
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0107' AND to_id = 'S1027'
S0107
S1027
20
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S1027' AND to_id = 'S1239'
S1027
S1239
22
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S1239' AND to_id = 'S0282'
S1239
S0282
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0282' AND to_id = 'S0194'
S0282
S0194
20
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0194' AND to_id = 'S0142'
S0194
S0142
22
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'S0142' AND to_id = 'S0113'
S0142
S0113
22
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0113' AND to_id = 'R0028'
S0113
R0028
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'R0028' AND to_id = 'S0109'
R0028
S0109
20
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'S0109' AND to_id = 'S7274'
S0109
S7274
27
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S7274' AND to_id = 'H00218'
S7274
H00218
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'H00218' AND to_id = 'S0151'
H00218
S0151
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S0151' AND to_id = 'H15100'
S0151
H15100
20
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'H15100' AND to_id = 'H15101'
H15100
H15101
20
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'H15101' AND to_id = 'R0308'
H15101
R0308
14
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0308' AND to_id = 'R0309'
R0308
R0309
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0309' AND to_id = 'R0310'
R0309
R0310
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0310' AND to_id = 'R0156'
R0310
R0156
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0156' AND to_id = 'R0311'
R0156
R0311
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0311' AND to_id = 'R0312'
R0311
R0312
19
UPDATE path_relationship SET d_edge = '22' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
22
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'R0158' AND to_id = 'R0313'
R0158
R0313
20
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0313' AND to_id = 'R0314'
R0313
R0314
19
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0314' AND to_id = 'R0315'
R0314
R0315
14
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'R0315' AND to_id = 'R0316'
R0315
R0316
21
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0316' AND to_id = 'R0317'
R0316
R0317
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0317' AND to_id = 'R0318'
R0317
R0318
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0318' AND to_id = 'S7328'
R0318
S7328
14
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S7328' AND to_id = 'S2796'
S7328
S2796
15
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S2796' AND to_id = 'R0319'
S2796
R0319
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0319' AND to_id = 'R0320'
R0319
R0320
14
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0320' AND to_id = 'R0258'
R0320
R0258
14
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0258' AND to_id = 'R0321'
R0258
R0321
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0321' AND to_id = 'R0322'
R0321
R0322
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0322' AND to_id = 'R0323'
R0322
R0323
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0323' AND to_id = 'R0324'
R0323
R0324
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0324' AND to_id = 'R0325'
R0324
R0325
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0325' AND to_id = 'H04165'
R0325
H04165
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'H04165' AND to_id = 'R0326'
H04165
R0326
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0326' AND to_id = 'R0327'
R0326
R0327
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0327' AND to_id = 'R0328'
R0327
R0328
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0328' AND to_id = 'R0329'
R0328
R0329
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0329' AND to_id = 'R0330'
R0329
R0330
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0330' AND to_id = 'S6995'
R0330
S6995
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S6995' AND to_id = 'R0331'
S6995
R0331
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0331' AND to_id = 'R0332'
R0331
R0332
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0332' AND to_id = 'S6962'
R0332
S6962
19
UPDATE path_relationship SET d_edge = '20' WHERE from_id = 'S6962' AND to_id = 'S6960'
S6962
S6960
20
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S6960' AND to_id = 'R0333'
S6960
R0333
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0333' AND to_id = 'R0334'
R0333
R0334
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0334' AND to_id = 'R0335'
R0334
R0335
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0335' AND to_id = 'S7013'
R0335
S7013
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S7013' AND to_id = 'R0336'
S7013
R0336
19
UPDATE path_relationship SET d_edge = '27' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
27
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0337' AND to_id = 'S6982'
R0337
S6982
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S6982' AND to_id = 'R0338'
S6982
R0338
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0338' AND to_id = 'R0339'
R0338
R0339
19
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'R0339' AND to_id = 'S7329'
R0339
S7329
19
UPDATE path_relationship SET d_edge = '21' WHERE from_id = 'S7329' AND to_id = 'S6968'
S7329
S6968
21
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S6968' AND to_id = 'R0494'
S6968
R0494
4
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0494' AND to_id = 'S7369'
R0494
S7369
7
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7369' AND to_id = 'S7029'
S7369
S7029
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7029' AND to_id = 'S7056'
S7029
S7056
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7056' AND to_id = 'R0336'
S7056
R0336
8
UPDATE path_relationship SET d_edge = '28' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
28
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0337' AND to_id = 'R0338'
R0337
R0338
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0338' AND to_id = 'S7370'
R0338
S7370
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7370' AND to_id = 'R0333'
S7370
R0333
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0333' AND to_id = 'R0332'
R0333
R0332
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0332' AND to_id = 'S7037'
R0332
S7037
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7037' AND to_id = 'R0631'
S7037
R0631
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0631' AND to_id = 'R0632'
R0631
R0632
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0632' AND to_id = 'R0633'
R0632
R0633
8
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0633' AND to_id = 'S0124'
R0633
S0124
7
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0124' AND to_id = 'S0122'
S0124
S0122
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0122' AND to_id = 'S0116'
S0122
S0116
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0116' AND to_id = 'S0244'
S0116
S0244
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0244' AND to_id = 'S0204'
S0244
S0204
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0204' AND to_id = 'R0205'
S0204
R0205
12
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0205' AND to_id = 'S0143'
R0205
S0143
13
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0143' AND to_id = 'R0494'

S0143
R0494
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0494' AND to_id = 'S7369'
R0494
S7369
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7369' AND to_id = 'S7029'
S7369
S7029
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7029' AND to_id = 'S7056'
S7029
S7056
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7056' AND to_id = 'R0336'
S7056
R0336
9
UPDATE path_relationship SET d_edge = '29' WHERE from_id = 'R0336' AND to_id = 'R0337'
R0336
R0337
29
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0337' AND to_id = 'R0338'
R0337
R0338
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0338' AND to_id = 'S7370'
R0338
S7370
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7370' AND to_id = 'R0333'
S7370
R0333
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0333' AND to_id = 'R0332'
R0333
R0332
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0332' AND to_id = 'S7037'
R0332
S7037
10
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7037' AND to_id = 'R0631'
S7037
R0631
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0631' AND to_id = 'R0632'
R0631
R0632
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0632' AND to_id = 'R0633'
R0632
R0633
9
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0633' AND to_id = 'S0124'
R0633
S0124
8
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0124' AND to_id = 'S0122'
S0124
S0122
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0122' AND to_id = 'S0116'
S0122
S0116
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0116' AND to_id = 'S0244'
S0116
S0244
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0244' AND to_id = 'S0204'
S0244
S0204
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S0204' AND to_id = 'R0205'
S0204
R0205
13
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'R0205' AND to_id = 'S0143'
R0205
S0143
14
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S6972' AND to_id = 'S6978'
S6972
S6978
10
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S6978' AND to_id = 'S7089'
S6978
S7089
15
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7089' AND to_id = 'R0386'
S7089
R0386
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0386' AND to_id = 'H00425'
R0386
H00425
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H00425' AND to_id = 'S4171'
H00425
S4171
3
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4171' AND to_id = 'S4140'
S4171
S4140
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4140' AND to_id = 'S4175'
S4140
S4175
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4175' AND to_id = 'R6022'
S4175
R6022
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R6022' AND to_id = 'S4166'
R6022
S4166
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4166' AND to_id = 'R0540'
S4166
R0540
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0540' AND to_id = 'H05074'
R0540
H05074
9
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H05074' AND to_id = 'S6972'
H05074
S6972
5
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S6972' AND to_id = 'S6978'
S6972
S6978
11
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S6978' AND to_id = 'S7089'
S6978
S7089
16
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S7089' AND to_id = 'R0386'
S7089
R0386
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0386' AND to_id = 'H00425'
R0386
H00425
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'H00425' AND to_id = 'S4171'
H00425
S4171
4
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4171' AND to_id = 'S4140'
S4171
S4140
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4140' AND to_id = 'S4175'
S4140
S4175
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4175' AND to_id = 'R6022'
S4175
R6022
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R6022' AND to_id = 'S4166'
R6022
S4166
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4166' AND to_id = 'R0540'
S4166
R0540
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0540' AND to_id = 'H05074'
R0540
H05074
10
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H05049' AND to_id = 'H05065'
H05049
H05065
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H05065' AND to_id = 'S4132'
H05065
S4132
3
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4132' AND to_id = 'S4144'
S4132
S4144
12
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4144' AND to_id = 'R4671'
S4144
R4671
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4671' AND to_id = 'R4479'
R4671
R4479
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4479' AND to_id = 'R5965'
R4479
R5965
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5965' AND to_id = 'R1103'
R5965
R1103
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1103' AND to_id = 'R5966'
R1103
R5966
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5966' AND to_id = 'R5846'
R5966
R5846
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5846' AND to_id = 'R1216'
R5846
R1216
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1216' AND to_id = 'R4306'
R1216
R4306
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4306' AND to_id = 'R5967'
R4306
R5967
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5967' AND to_id = 'R5968'
R5967
R5968
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5968' AND to_id = 'R5489'
R5968
R5489
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5489' AND to_id = 'R4216'
R5489
R4216
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4216' AND to_id = 'R5969'
R4216
R5969
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5969' AND to_id = 'R0030'
R5969
R0030
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0030' AND to_id = 'R5970'
R0030
R5970
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5970' AND to_id = 'R5520'
R5970
R5520
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5520' AND to_id = 'R5516'
R5520
R5516
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5516' AND to_id = 'R0031'
R5516
R0031
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0031' AND to_id = 'R0329'
R0031
R0329
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0329' AND to_id = 'R0328'
R0329
R0328
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0328' AND to_id = 'R3448'
R0328
R3448
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R3448' AND to_id = 'R1519'
R3448
R1519
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1519' AND to_id = 'R3479'
R1519
R3479
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R3479' AND to_id = 'R5971'
R3479
R5971
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5971' AND to_id = 'R0928'
R5971
R0928
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0928' AND to_id = 'R5144'
R0928
R5144
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5144' AND to_id = 'R0312'
R5144
R0312
3
UPDATE path_relationship SET d_edge = '23' WHERE from_id = 'R0312' AND to_id = 'R0158'
R0312
R0158
23
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0158' AND to_id = 'R3127'
R0158
R3127
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R3127' AND to_id = 'S6958'
R3127
S6958
3
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S6972' AND to_id = 'S6978'
S6972
S6978
12
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S6978' AND to_id = 'S7089'
S6978
S7089
17
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7089' AND to_id = 'R0386'
S7089
R0386
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0386' AND to_id = 'H00425'
R0386
H00425
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'H00425' AND to_id = 'S4171'
H00425
S4171
5
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4171' AND to_id = 'S4140'
S4171
S4140
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4140' AND to_id = 'S4175'
S4140
S4175
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4175' AND to_id = 'R6022'

S4175
R6022
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R6022' AND to_id = 'S4166'
R6022
S4166
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4166' AND to_id = 'R0540'
S4166
R0540
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0540' AND to_id = 'H05074'
R0540
H05074
11
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H05074' AND to_id = 'S6972'
H05074
S6972
6
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S6972' AND to_id = 'S6978'
S6972
S6978
13
UPDATE path_relationship SET d_edge = '18' WHERE from_id = 'S6978' AND to_id = 'S7089'
S6978
S7089
18
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7089' AND to_id = 'R0386'
S7089
R0386
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0386' AND to_id = 'H00425'
R0386
H00425
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'H00425' AND to_id = 'S4171'
H00425
S4171
6
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4171' AND to_id = 'S4140'
S4171
S4140
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4140' AND to_id = 'S4175'
S4140
S4175
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4175' AND to_id = 'R6022'
S4175
R6022
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R6022' AND to_id = 'S4166'
R6022
S4166
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4166' AND to_id = 'R0540'
S4166
R0540
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0540' AND to_id = 'H05074'
R0540
H05074
12
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H05074' AND to_id = 'S6972'
H05074
S6972
7
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S6972' AND to_id = 'S6978'
S6972
S6978
14
UPDATE path_relationship SET d_edge = '19' WHERE from_id = 'S6978' AND to_id = 'S7089'
S6978
S7089
19
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7089' AND to_id = 'R0386'
S7089
R0386
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'R0386' AND to_id = 'H00425'
R0386
H00425
7
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'H00425' AND to_id = 'S4171'
H00425
S4171
7
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4171' AND to_id = 'S4140'
S4171
S4140
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4140' AND to_id = 'S4175'
S4140
S4175
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4175' AND to_id = 'R6022'
S4175
R6022
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R6022' AND to_id = 'S4166'
R6022
S4166
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4166' AND to_id = 'R0540'
S4166
R0540
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0540' AND to_id = 'H05074'
R0540
H05074
13
==換 TSAI 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0156' AND to_id = 'R0157'
R0156
R0157
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0157' AND to_id = 'R0158'
R0157
R0158
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R0158' AND to_id = 'S2498'
R0158
S2498
2
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2498' AND to_id = 'R0159'
S2498
R0159
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0159' AND to_id = 'R0160'
R0159
R0160
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0160' AND to_id = 'S2492'
R0160
S2492
4
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S2492' AND to_id = 'S2490'
S2492
S2490
9
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2490' AND to_id = 'S0101'
S2490
S0101
2
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S0101' AND to_id = 'S0135'
S0101
S0135
10
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S0135' AND to_id = 'R0156'
S0135
R0156
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0156' AND to_id = 'R0157'
R0156
R0157
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0157' AND to_id = 'R0158'
R0157
R0158
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0158' AND to_id = 'S2498'
R0158
S2498
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2498' AND to_id = 'R0159'
S2498
R0159
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0159' AND to_id = 'R0160'
R0159
R0160
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R0160' AND to_id = 'S2492'
R0160
S2492
5
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S2492' AND to_id = 'S2490'
S2492
S2490
10
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2490' AND to_id = 'S0101'
S2490
S0101
3
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S0101' AND to_id = 'S0135'
S0101
S0135
11
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0135' AND to_id = 'R0156'
S0135
R0156
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0156' AND to_id = 'R0157'
R0156
R0157
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0157' AND to_id = 'R0158'
R0157
R0158
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R0158' AND to_id = 'S2498'
R0158
S2498
4
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2498' AND to_id = 'R0159'
S2498
R0159
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0159' AND to_id = 'R0160'
R0159
R0160
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R0160' AND to_id = 'S2492'
R0160
S2492
6
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S2492' AND to_id = 'S2490'
S2492
S2490
11
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2490' AND to_id = 'S0101'
S2490
S0101
4
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S0101' AND to_id = 'S0135'
S0101
S0135
12
==換 許戎和 囉==
==換 介正劉 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0033' AND to_id = 'R2390'
S0033
R2390
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2390' AND to_id = 'S7345'
R2390
S7345
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S7345' AND to_id = 'R2955'
S7345
R2955
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2955' AND to_id = 'S0014'
R2955
S0014
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0014' AND to_id = 'S0837'
S0014
S0837
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0837' AND to_id = 'S1276'
S0837
S1276
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R3742' AND to_id = 'S1090'
R3742
S1090
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1090' AND to_id = 'S1400'
S1090
S1400
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S1400' AND to_id = 'S2110'
S1400
S2110
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2110' AND to_id = 'R3889'
S2110
R3889
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R4030' AND to_id = 'S2492'
R4030
S2492
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2492' AND to_id = 'S2797'
S2492
S2797
2
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2797' AND to_id = 'S2771'
S2797
S2771
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2771' AND to_id = 'S2777'
S2771
S2777
5
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2777' AND to_id = 'R4031'
S2777
R4031
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4030' AND to_id = 'S2492'
R4030
S2492
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2492' AND to_id = 'S2797'
S2492
S2797
3
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2797' AND to_id = 'S2771'
S2797
S2771
6
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S2771' AND to_id = 'S2777'
S2771
S2777
6
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S2777' AND to_id = 'R4031'
S2777
R4031
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4031' AND to_id = 'R4081'
R4031
R4081
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4081' AND to_id = 'R4134'
R4081
R4134
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4134' AND to_id = 'R4135'
R4134
R4135
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4135' AND to_id = 'R4136'
R4135
R4136
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4136' AND to_id = 'R3925'
R4136
R3925
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R3925' AND to_id = 'R4137'
R3925
R4137
3

UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4137' AND to_id = 'R2678'
R4137
R2678
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2678' AND to_id = 'R4138'
R2678
R4138
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4138' AND to_id = 'H02655'
R4138
H02655
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H02655' AND to_id = 'S2793'
H02655
S2793
3
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2793' AND to_id = 'S2802'
S2793
S2802
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S2802' AND to_id = 'S2781'
S2802
S2781
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S2781' AND to_id = 'R4139'
S2781
R4139
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S3410' AND to_id = 'S7743'
S3410
S7743
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7743' AND to_id = 'R4629'
S7743
R4629
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4629' AND to_id = 'R4630'
R4629
R4630
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4630' AND to_id = 'R4631'
R4630
R4631
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R4631' AND to_id = 'S2592'
R4631
S2592
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S2592' AND to_id = 'R4632'
S2592
R4632
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4632' AND to_id = 'R4633'
R4632
R4633
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4633' AND to_id = 'S3190'
R4633
S3190
3
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R4925' AND to_id = 'R4926'
R4925
R4926
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R4926' AND to_id = 'R0924'
R4926
R0924
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R0924' AND to_id = 'R4927'
R0924
R4927
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R4927' AND to_id = 'H15287'
R4927
H15287
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'H15287' AND to_id = 'S4967'
H15287
S4967
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4967' AND to_id = 'S5025'
S4967
S5025
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5025' AND to_id = 'R4928'
S5025
R4928
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R4928' AND to_id = 'S4850'
R4928
S4850
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4850' AND to_id = 'S4857'
S4850
S4857
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4857' AND to_id = 'S4562'
S4857
S4562
8
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4562' AND to_id = 'S4917'
S4562
S4917
10
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4917' AND to_id = 'R4929'
S4917
R4929
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'R4929' AND to_id = 'S7782'
R4929
S7782
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7782' AND to_id = 'S4549'
S7782
S4549
8
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4549' AND to_id = 'S4564'
S4549
S4564
8
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4564' AND to_id = 'S4547'
S4564
S4547
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4547' AND to_id = 'S4808'
S4547
S4808
10
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S4808' AND to_id = 'S7331'
S4808
S7331
8
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'S7331' AND to_id = 'R4925'
S7331
R4925
6
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R4925' AND to_id = 'R4926'
R4925
R4926
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R4926' AND to_id = 'R0924'
R4926
R0924
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R0924' AND to_id = 'R4927'
R0924
R4927
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R4927' AND to_id = 'H15287'
R4927
H15287
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'H15287' AND to_id = 'S4967'
H15287
S4967
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4967' AND to_id = 'S5025'
S4967
S5025
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5025' AND to_id = 'R4928'
S5025
R4928
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R4928' AND to_id = 'S4850'
R4928
S4850
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4850' AND to_id = 'S4857'
S4850
S4857
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4857' AND to_id = 'S4562'
S4857
S4562
9
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4562' AND to_id = 'S4917'
S4562
S4917
11
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4917' AND to_id = 'R4929'
S4917
R4929
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'R4929' AND to_id = 'S7782'
R4929
S7782
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7782' AND to_id = 'S4549'
S7782
S4549
9
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4549' AND to_id = 'S4564'
S4549
S4564
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4564' AND to_id = 'S4547'
S4564
S4547
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4547' AND to_id = 'S4808'
S4547
S4808
11
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S4808' AND to_id = 'S7331'
S4808
S7331
9
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R4925' AND to_id = 'R4926'
R4925
R4926
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R4926' AND to_id = 'R0924'
R4926
R0924
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R0924' AND to_id = 'R4927'
R0924
R4927
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R4927' AND to_id = 'H15287'
R4927
H15287
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'H15287' AND to_id = 'S4967'
H15287
S4967
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4967' AND to_id = 'S5025'
S4967
S5025
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S5025' AND to_id = 'R4928'
S5025
R4928
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R4928' AND to_id = 'S4850'
R4928
S4850
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4850' AND to_id = 'S4857'
S4850
S4857
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4857' AND to_id = 'S4562'
S4857
S4562
10
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4562' AND to_id = 'S4917'
S4562
S4917
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4917' AND to_id = 'R4929'
S4917
R4929
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'R4929' AND to_id = 'S7782'
R4929
S7782
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S7782' AND to_id = 'S4549'
S7782
S4549
10
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4549' AND to_id = 'S4564'
S4549
S4564
10
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4564' AND to_id = 'S4547'
S4564
S4547
11
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4547' AND to_id = 'S4808'
S4547
S4808
12
UPDATE path_relationship SET d_edge = '10' WHERE from_id = 'S4808' AND to_id = 'S7331'
S4808
S7331
10
UPDATE path_relationship SET d_edge = '7' WHERE from_id = 'S7331' AND to_id = 'R4925'
S7331
R4925
7
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R4925' AND to_id = 'R4926'
R4925
R4926
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R4926' AND to_id = 'R0924'
R4926
R0924
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R0924' AND to_id = 'R4927'
R0924
R4927
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R4927' AND to_id = 'H15287'
R4927
H15287
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'H15287' AND to_id = 'S4967'
H15287
S4967
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4967' AND to_id = 'S5025'
S4967
S5025
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S5025' AND to_id = 'R4928'
S5025
R4928
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R4928' AND to_id = 'S4850'
R4928
S4850
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4850' AND to_id = 'S4857'
S4850
S4857
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4857' AND to_id = 'S4562'
S4857
S4562
11
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4562' AND to_id = 'S4917'
S4562
S4917
13

UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4917' AND to_id = 'R4929'
S4917
R4929
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'R4929' AND to_id = 'S7782'
R4929
S7782
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S7782' AND to_id = 'S4549'
S7782
S4549
11
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4549' AND to_id = 'S4564'
S4549
S4564
11
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4564' AND to_id = 'S4547'
S4564
S4547
12
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4547' AND to_id = 'S4808'
S4547
S4808
13
UPDATE path_relationship SET d_edge = '11' WHERE from_id = 'S4808' AND to_id = 'S7331'
S4808
S7331
11
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S7331' AND to_id = 'R4925'
S7331
R4925
8
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R4925' AND to_id = 'R4926'
R4925
R4926
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R4926' AND to_id = 'R0924'
R4926
R0924
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R0924' AND to_id = 'R4927'
R0924
R4927
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R4927' AND to_id = 'H15287'
R4927
H15287
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'H15287' AND to_id = 'S4967'
H15287
S4967
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4967' AND to_id = 'S5025'
S4967
S5025
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S5025' AND to_id = 'R4928'
S5025
R4928
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R4928' AND to_id = 'S4850'
R4928
S4850
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4850' AND to_id = 'S4857'
S4850
S4857
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4857' AND to_id = 'S4562'
S4857
S4562
12
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S4562' AND to_id = 'S4917'
S4562
S4917
14
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4917' AND to_id = 'R4929'
S4917
R4929
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'R4929' AND to_id = 'S7782'
R4929
S7782
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S7782' AND to_id = 'S4549'
S7782
S4549
12
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4549' AND to_id = 'S4564'
S4549
S4564
12
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4564' AND to_id = 'S4547'
S4564
S4547
13
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S4547' AND to_id = 'S4808'
S4547
S4808
14
UPDATE path_relationship SET d_edge = '12' WHERE from_id = 'S4808' AND to_id = 'S7331'
S4808
S7331
12
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7331' AND to_id = 'R4925'
S7331
R4925
9
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R4925' AND to_id = 'R4926'
R4925
R4926
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R4926' AND to_id = 'R0924'
R4926
R0924
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R0924' AND to_id = 'R4927'
R0924
R4927
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R4927' AND to_id = 'H15287'
R4927
H15287
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'H15287' AND to_id = 'S4967'
H15287
S4967
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4967' AND to_id = 'S5025'
S4967
S5025
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S5025' AND to_id = 'R4928'
S5025
R4928
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R4928' AND to_id = 'S4850'
R4928
S4850
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4850' AND to_id = 'S4857'
S4850
S4857
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4857' AND to_id = 'S4562'
S4857
S4562
13
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S4562' AND to_id = 'S4917'
S4562
S4917
15
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4917' AND to_id = 'R4929'
S4917
R4929
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'R4929' AND to_id = 'S7782'
R4929
S7782
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S7782' AND to_id = 'S4549'
S7782
S4549
13
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4549' AND to_id = 'S4564'
S4549
S4564
13
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S4564' AND to_id = 'S4547'
S4564
S4547
14
UPDATE path_relationship SET d_edge = '15' WHERE from_id = 'S4547' AND to_id = 'S4808'
S4547
S4808
15
UPDATE path_relationship SET d_edge = '13' WHERE from_id = 'S4808' AND to_id = 'S7331'
S4808
S7331
13
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R1546' AND to_id = 'R4234'
R1546
R4234
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R4234' AND to_id = 'S5520'
R4234
S5520
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5520' AND to_id = 'S5505'
S5520
S5505
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5505' AND to_id = 'S5509'
S5505
S5509
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5509' AND to_id = 'S5214'
S5509
S5214
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5214' AND to_id = 'S5224'
S5214
S5224
4
UPDATE path_relationship SET d_edge = '16' WHERE from_id = 'S5224' AND to_id = 'S5315'
S5224
S5315
16
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5315' AND to_id = 'R3048'
S5315
R3048
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'R3048' AND to_id = 'S5242'
R3048
S5242
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5242' AND to_id = 'S5217'
S5242
S5217
4
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5217' AND to_id = 'S4577'
S5217
S4577
4
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4577' AND to_id = 'R1546'
S4577
R1546
3
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R1546' AND to_id = 'R4234'
R1546
R4234
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R4234' AND to_id = 'S5520'
R4234
S5520
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5520' AND to_id = 'S5505'
S5520
S5505
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5505' AND to_id = 'S5509'
S5505
S5509
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5509' AND to_id = 'S5214'
S5509
S5214
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5214' AND to_id = 'S5224'
S5214
S5224
5
UPDATE path_relationship SET d_edge = '17' WHERE from_id = 'S5224' AND to_id = 'S5315'
S5224
S5315
17
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5315' AND to_id = 'R3048'
S5315
R3048
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'R3048' AND to_id = 'S5242'
R3048
S5242
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5242' AND to_id = 'S5217'
S5242
S5217
5
UPDATE path_relationship SET d_edge = '5' WHERE from_id = 'S5217' AND to_id = 'S4577'
S5217
S4577
5
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R2040' AND to_id = 'S5493'
R2040
S5493
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5493' AND to_id = 'S5511'
S5493
S5511
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5511' AND to_id = 'S5480'
S5511
S5480
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S5480' AND to_id = 'R4879'
S5480
R4879
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R4879' AND to_id = 'H09974'
R4879
H09974
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H09974' AND to_id = 'S7830'
H09974
S7830
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7830' AND to_id = 'R1546'
S7830
R1546
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R1546' AND to_id = 'R5719'
R1546
R5719
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5719' AND to_id = 'R5720'
R5719
R5720
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S7019' AND to_id = 'R5142'
S7019
R5142
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5142' AND to_id = 'R5143'
R5142
R5143
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R5143' AND to_id = 'S6968'
R5143
S6968
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S6968' AND to_id = 'R0317'
S6968
R0317
3
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'R0317' AND to_id = 'R5144'
R0317
R5144
3
==換 914L 囉==

==換 Melissa 囉==
==換 Expedition608830 囉==
==換 維 子 囉==
==換 134caroll 囉==
==換 fIREs 囉==
UPDATE path_relationship SET d_edge = '25' WHERE from_id = 'S0106' AND to_id = 'S0101'
S0106
S0101
25
UPDATE path_relationship SET d_edge = '26' WHERE from_id = 'S0106' AND to_id = 'S0101'
S0106
S0101
26
UPDATE path_relationship SET d_edge = '14' WHERE from_id = 'S0101' AND to_id = 'S0194'
S0101
S0194
14
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S0194' AND to_id = 'S1280'
S0194
S1280
3
==換 Owentaiwan 囉==
==換 851吳平e 囉==
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S7274' AND to_id = 'S0101'
S7274
S0101
9
==換 小熊維尼 囉==
==換 terry 囉==

KeyboardInterrupt:

In [10]:
def add_Data(from_id, to_id, d_edge):
    add_data = ("INSERT INTO path_relationship"
                "(from_id, to_id, d_edge) "
                "VALUES (%s,%s,%s)")
    data = (from_id, to_id, d_edge)
    cur.execute(add_data, data)
    # cnx.commit()

In [11]:
import pymysql
import time
tStart = time.time()

cnx = pymysql.connect(
    host="localhost",
    user="root",
    passwd="12345",
    database="test"
    )

cm_cur = cnx.cursor()
cr = cnx.cursor()
cur = cnx.cursor()
ex = cnx.cursor()

cm_name = "SELECT DISTINCT name FROM hotel_relationship"
cm_cur.execute(cm_name)

pair = []
tr = []
for cm in cm_cur.fetchall():
    place = []
    from_id = []
    to_id = []
    
    # 使用者
    cmfet = cm[0]
    # print(cmfet)
    
    m = "SELECT near_site, sid FROM hotel_relationship WHERE name = '" + cmfet + "'"
    cr.execute(m)
    for cf in cr.fetchall():
        cfe = cf[0]
        # print(cfe)
        sid = cf[1]
        place.append(sid)
    
    if len(place)>1:
        for x in range(len(place)-1):
            from_id.append(place[x])

        for y in range(1,len(place)):
            to_id.append(place[y])

        print("==換 " + cmfet + " 囉==")
        
        for i in range(len(from_id)):
            p = []
            num = 0
            if from_id[i] != to_id[i]:
                count = 1
                p.append(from_id[i])
                p.append(to_id[i])
                p.append(count)
                if p not in pair:
                    pair.append(p)
                    add_Data(from_id[i], to_id[i], count)
                    # print(from_id[i])
                    # print(to_id[i])
                else:
                    check = "SELECT * FROM path_relationship WHERE from_id = '" + from_id[i] + "' AND to_id = '" + to_id[i] + "'"
                    cur.execute(check)
                    j = cur.fetchone()
                    fid = j[0]
                    tid = j[1]
                    c = int(j[2]) + 1
                    edge = str(c)
                    ed_degree = "UPDATE path_relationship SET d_edge = '" + edge + "' WHERE from_id = '" + fid + "' AND to_id = '" + tid + "'"
                    print(ed_degree)
                    ex.execute(ed_degree)
                    # cnx.commit()
                    
                    print(fid)
                    print(tid)
                    print(edge) #str
                    
                        # print(from_id[i])
                        # print(to_id[i])

tEnd = time.time()
print("Run Time：", tEnd - tStart)

==換 yy971 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R6687' AND to_id = 'H08354'
R6687
H08354
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08354' AND to_id = 'H08372'
H08354
H08372
2
==換 姿文 陳 囉==
==換 Yuru_Hu 囉==
==換 chenson_123 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08354' AND to_id = 'H08357'
H08354
H08357
2
==換 大煒吳 囉==
==換 NS_恩斯 囉==
==換 955anitay 囉==
==換 yueh631 囉==
==換 Mark L 囉==
==換 大師大 囉==
==換 658ginacc 囉==
==換 出差旅遊優先選擇飯店 囉==
==換 Mac Lin 囉==
==換 Jason C 囉==
==換 grace524 囉==
==換 ShihPin 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R3642' AND to_id = 'H08356'
R3642
H08356
2
==換 haruyen 囉==
==換 善慈陳 囉==
==換 a1472222 囉==
==換 Shih-Ting Fang 囉==
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R3642' AND to_id = 'R2873'
R3642
R2873
6
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R2873' AND to_id = 'H08356'
R2873
H08356
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08356' AND to_id = 'S5310'
H08356
S5310
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'S5310' AND to_id = 'H09547'
S5310
H09547
2
==換 蘇珊娜 囉==
==換 Meg C 囉==
==換 chzing1981 囉==
==換 林捲捲 囉==
==換 min min 囉==
==換 Joanne Lee 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H15333' AND to_id = 'H08362'
H15333
H08362
2
==換 LeeSavy 囉==
==換 stacyshen0329 囉==
==換 linb949 囉==
==換 patrick k 囉==
==換 Janeliu5 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H15333' AND to_id = 'H08362'
H15333
H08362
3
==換 Annie 囉==
==換 Iron Aboo 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H15333' AND to_id = 'H08356'
H15333
H08356
2
==換 逸婷 高 囉==
==換 HSIU JUNG H 囉==
==換 瀚緯曾 囉==
==換 Vivianyana 囉==
==換 sd8695 囉==
==換 評論_12 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H15333' AND to_id = 'S5224'
H15333
S5224
2
==換 StevenH 囉==
==換 瑞峯 余 囉==
==換 閃閃 羅 囉==
==換 flora-w924 囉==
==換 Sue1012 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H09022' AND to_id = 'S4637'
H09022
S4637
2
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'S4637' AND to_id = 'R2777'
S4637
R2777
3
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R2777' AND to_id = 'H08376'
R2777
H08376
2
==換 Shun- Li W 囉==
==換 ViVi Y 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08376' AND to_id = 'S5217'
H08376
S5217
2
==換 ccj 囉==
==換 bellekhh 囉==
==換 Chung Hang C 囉==
==換 ryan0375 囉==
==換 Chang Yuwei 囉==
==換 Ming 囉==
==換 Miki & Rex 環遊世界度蜜年 囉==
==換 小笨笨兵 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08385' AND to_id = 'R2777'
H08385
R2777
2
==換 振榮王 囉==
==換 maydayleehom1 囉==
==換 hsiuchulin 囉==
==換 T_Rex_Toyota 囉==
==換 小炳 囉==
==換 cmh1115 囉==
==換 Trail57306089196 囉==
==換 巴弟 雷 囉==
==換 bighead2015 囉==
==換 charles t 囉==
==換 andrew00c 囉==
==換 Bestfong 囉==
==換 JOHNNY 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08389' AND to_id = 'H08356'
H08389
H08356
2
==換 賴阿惟 囉==
==換 766weie 囉==
==換 Joanne 囉==
==換 鴻玉 逄 囉==
==換 Victor L 囉==
==換 00V 囉==
==換 chaocc 囉==
==換 家海 趙 囉==
==換 497iant 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08365' AND to_id = 'H08389'
H08365
H08389
2
==換 穆樂 囉==
==換 bibilin2015 囉==
==換 小恬 林 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08362' AND to_id = 'H08399'
H08362
H08399
2
==換 176james 囉==
==換 美秀 劉 囉==
==換 PAN 囉==
==換 wupatty 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08399' AND to_id = 'H08360'
H08399
H08360
2
==換 Ryan Song 囉==
==換 hik0306 囉==
==換 姬爺 囉==
==換 b70182 囉==
==換 小都歐皮皮 囉==
==換 Fuchiang C 囉==
==換 hugo710731 囉==
==換 Alex P 囉==
UPDATE path_relationship SET d_edge = '4' WHERE from_id = 'S5324' AND to_id = 'R5606'
S5324
R5606
4
==換 kyloh 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08404' AND to_id = 'H08396'
H08404
H08396
2
==換 Jackson L 囉==
==換 YUPING Chen 囉==
UPDATE path_relationship SET d_edge = '8' WHERE from_id = 'S5224' AND to_id = 'S5225'
S5224
S5225
8
==換 單單 楊 囉==
==換 Chien-Chih K 囉==
==換 慧敏 施 囉==
==換 JasonLinJan 囉==
==換 冠廷 劉 囉==
==換 862chiny 囉==
==換 佩萱連 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H09554' AND to_id = 'H08433'
H09554
H08433
2
==換 robbiefowler97 囉==
==換 安 周 囉==
==換 ASMuller 囉==
==換 Authur C 囉==
==換 張文勳 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08458' AND to_id = 'S5224'
H08458
S5224
2
==換 SEAMCI 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08458' AND to_id = 'R6688'
H08458
R6688
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R6688' AND to_id = 'H08407'
R6688
H08407
2
==換 墾丁惠莉 囉==
==換 choryeechan 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H08458' AND to_id = 'S5224'
H08458
S5224
3
==換 mini拔比 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H09014' AND to_id = 'H08402'
H09014
H08402
2
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08402' AND to_id = 'H09551'
H08402
H09551
2
==換 玉書 陳 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H09014' AND to_id = 'H09022'
H09014
H09022
2
==換 Annie_Line 囉==
==換 妍安 陳 囉==
==換 Jerry K 囉==
==換 cindyl348 囉==
==換 Y小姐 囉==
==換 etranger2016 囉==
==換 V2995ZNtonyl 囉==
==換 RedBean Hsiao 囉==
==換 Pineapple P 囉==
==換 草食男的旅行日記 囉==
==換 Romg Jia S 囉==
==換 a8460054 囉==
UPDATE path_relationship SET d_edge = '9' WHERE from_id = 'S5224' AND to_id = 'S5225'
S5224
S5225
9
==換 a0141 囉==
==換 whitchi1234 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H08357' AND to_id = 'S5224'
H08357
S5224
3
==換 Ingrid L 囉==
==換 EKLM22 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08358' AND to_id = 'S5224'
H08358
S5224
2
==換 李佳薇 囉==
==換 shinghui 囉==
==換 Leo68 囉==
==換 Alice L 囉==
==換 Debiku 囉==
==換 Fang Syuan G 囉==
==換 Daniel_133 囉==
==換 486Jeffrey 囉==
==換 Ming Chi k 囉==
==換 nina3941 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08361' AND to_id = 'S5256'
H08361
S5256
2
==換 Russell_Ch 囉==
==換 nikumaruko 囉==
==換 hplee7 囉==
==換 愛旅行的我 囉==
==換 wanderlust414 囉==
==換 Clairlin 囉==
==換 小印 李 囉==
==換 Angela H 囉==
==換 s1239707 囉==
==換 建霖 李 囉==
==換 小蓮 范 囉==
==換 瑞蓉 簡 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'R5573' AND to_id = 'H08370'
R5573
H08370
2
==換 crazytank 囉==
==換 懶人旅行 囉==
==換 alexchang100tw 囉==
==換 dee c 囉==
==換 Mudomom 囉==
==換 子宜 田 囉==
==換 RDyang 囉==
==換 cutez723 囉==
==換 評論者 囉==
==換 李大愷 囉==
==換 722amberh 囉==
==換 JoyFoo 囉==
==換 木村拓徹 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08354' AND to_id = 'H08392'
H08354
H08392
2
==換 Narolyn 囉==
==換 davidywhong 囉==
==換 KayTam 囉==
==換 欣盧 囉==
==換 台北人2014 囉==
==換 春秀 林 囉==
==換 明賢 施 囉==
==換 WLC 囉==
==換 Ann J 囉==
==換 mapony99 囉==
UPDATE path_relationship SET d_edge = '2' WHERE from_id = 'H08407' AND to_id = 'S5224'
H08407
S5224
2
==換 jclove1228 囉==
UPDATE path_relationship SET d_edge = '3' WHERE from_id = 'H08407' AND to_id = 'S5224'
H08407
S5224
3
==換 Chang-li C 囉==
UPDATE path_relationship SET d_edge = '6' WHERE from_id = 'R2777' AND to_id = 'R3642'
R2777
R3642
6
==換 CHIUCHIUCUTE 囉==
==換 Sammi C 囉==
==換 sbs2009 囉==
==換 SuperWaterDog 囉==
==換 yuchenr 囉==
==換 CharlesLin 囉==
==換 Phoebe K 囉==
Run Time： 3.7648656368255615